{
  "openapi": "3.0.0",
  "info": {
    "title": "Stripe API",
    "description": "The Stripe REST API. Please see https://stripe.com/docs/api for more details.",
    "termsOfService": "https://stripe.com/us/terms/",
    "contact": {
      "name": "Stripe Dev Platform Team",
      "url": "https://stripe.com",
      "email": "dev-platform@stripe.com"
    },
    "version": "2026-01-28.clover",
    "x-stripeReleasePhase": "ga",
    "x-stripeSpecAudience": "public",
    "x-stripeSpecFilename": "spec3.ga.public"
  },
  "servers": [
    {
      "url": "https://api.stripe.com/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "summary": "Retrieve account",
        "description": "<p>Retrieves the details of an account.</p>",
        "operationId": "GetAccount",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "Specifies which fields in the response should be expanded.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 5000,
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "summary": "Retrieve balance",
        "description": "<p>Retrieves the current account balance, based on the authentication that was used to make the request.\n For a sample request, see <a href=\"/docs/connect/account-balances#accounting-for-negative-balances\">Accounting for negative balances</a>.</p>",
        "operationId": "GetBalance",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "Specifies which fields in the response should be expanded.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 5000,
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/balance"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupons": {
      "get": {
        "summary": "List all coupons",
        "description": "<p>Returns a list of your coupons.</p>",
        "operationId": "GetCoupons",
        "parameters": [
          {
            "name": "created",
            "in": "query",
            "description": "A filter on the list, based on the object `created` field. The value can be a string with an integer Unix timestamp, or it can be a dictionary with a number of different query options.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "anyOf": [
                {
                  "title": "range_query_specs",
                  "type": "object",
                  "properties": {
                    "gt": {
                      "type": "integer"
                    },
                    "gte": {
                      "type": "integer"
                    },
                    "lt": {
                      "type": "integer"
                    },
                    "lte": {
                      "type": "integer"
                    }
                  }
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Specifies which fields in the response should be expanded.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 5000,
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CouponsResourceCouponList",
                  "required": [
                    "data",
                    "has_more",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/coupon"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True if this list has another page of items after this one that can be fetched."
                    },
                    "url": {
                      "maxLength": 5000,
                      "pattern": "^/v1/coupons",
                      "type": "string",
                      "description": "The URL where this list can be accessed."
                    }
                  },
                  "description": "",
                  "x-expandableFields": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a coupon",
        "description": "<p>You can create coupons easily via the <a href=\"https://dashboard.stripe.com/coupons\">coupon management</a> page of the Stripe dashboard. Coupon creation is also accessible via the API if you need to create coupons on the fly.</p>\n\n<p>A coupon has either a <code>percent_off</code> or an <code>amount_off</code> and <code>currency</code>. If you set an <code>amount_off</code>, that amount will be subtracted from any invoice\u2019s subtotal. For example, an invoice with a subtotal of <currency>100</currency> will have a final total of <currency>0</currency> if a coupon with an <code>amount_off</code> of <amount>200</amount> is applied to it and an invoice with a subtotal of <currency>300</currency> will have a final total of <currency>100</currency> if a coupon with an <code>amount_off</code> of <amount>200</amount> is applied to it.</p>",
        "operationId": "PostCoupons",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_off": {
                    "type": "integer",
                    "description": "A positive integer representing the amount to subtract from an invoice total (required if `percent_off` is not passed)."
                  },
                  "applies_to": {
                    "title": "applies_to_params",
                    "type": "object",
                    "properties": {
                      "products": {
                        "type": "array",
                        "items": {
                          "maxLength": 5000,
                          "type": "string"
                        }
                      }
                    },
                    "description": "A hash containing directions for what this Coupon will apply discounts to."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter [ISO code for the currency](https://stripe.com/docs/currencies) of the `amount_off` parameter (required if `amount_off` is passed).",
                    "format": "currency"
                  },
                  "currency_options": {
                    "type": "object",
                    "additionalProperties": {
                      "title": "currency_option",
                      "required": [
                        "amount_off"
                      ],
                      "type": "object",
                      "properties": {
                        "amount_off": {
                          "type": "integer"
                        }
                      }
                    },
                    "description": "Coupons defined in each available currency option (only supported if `amount_off` is passed). Each key must be a three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) and a [supported currency](https://stripe.com/docs/currencies)."
                  },
                  "duration": {
                    "type": "string",
                    "description": "Specifies how long the discount will be in effect if used on a subscription. Defaults to `once`.",
                    "enum": [
                      "forever",
                      "once",
                      "repeating"
                    ],
                    "x-stripeBypassValidation": true
                  },
                  "duration_in_months": {
                    "type": "integer",
                    "description": "Required only if `duration` is `repeating`, in which case it must be a positive integer that specifies the number of months the discount will be in effect."
                  },
                  "expand": {
                    "type": "array",
                    "description": "Specifies which fields in the response should be expanded.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    }
                  },
                  "id": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "Unique string of your choice that will be used to identify this coupon when applying it to a customer. If you don't want to specify a particular code, you can leave the ID blank and we'll generate a random code for you."
                  },
                  "max_redemptions": {
                    "type": "integer",
                    "description": "A positive integer specifying the number of times the coupon can be redeemed before it's no longer valid. For example, you might have a 50% off coupon that the first 20 readers of your blog can use."
                  },
                  "metadata": {
                    "description": "Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
                    "anyOf": [
                      {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "title": "MetadataParam"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "name": {
                    "maxLength": 40,
                    "type": "string",
                    "description": "Name of the coupon displayed to customers on, for instance invoices, or receipts. By default the `id` is shown if `name` is not set."
                  },
                  "percent_off": {
                    "type": "number",
                    "description": "A positive float larger than 0, and smaller or equal to 100, that represents the discount the coupon will apply (required if `amount_off` is not passed)."
                  },
                  "redeem_by": {
                    "type": "integer",
                    "description": "Unix timestamp specifying the last time at which the coupon can be redeemed (cannot be set to more than 5 years in the future). After the redeem_by date, the coupon can no longer be applied to new customers.",
                    "format": "unix-time"
                  }
                },
                "additionalProperties": false
              },
              "encoding": {
                "applies_to": {
                  "style": "deepObject",
                  "explode": true
                },
                "currency_options": {
                  "style": "deepObject",
                  "explode": true
                },
                "expand": {
                  "style": "deepObject",
                  "explode": true
                },
                "metadata": {
                  "style": "deepObject",
                  "explode": true
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/coupon"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "summary": "List all customers",
        "description": "<p>Returns a list of your customers. The customers are returned sorted by creation date, with the most recent customers appearing first.</p>",
        "operationId": "GetCustomers",
        "parameters": [
          {
            "name": "created",
            "in": "query",
            "description": "Only return customers that were created during the given date interval.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "anyOf": [
                {
                  "title": "range_query_specs",
                  "type": "object",
                  "properties": {
                    "gt": {
                      "type": "integer"
                    },
                    "gte": {
                      "type": "integer"
                    },
                    "lt": {
                      "type": "integer"
                    },
                    "lte": {
                      "type": "integer"
                    }
                  }
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "A case-sensitive filter on the list based on the customer's `email` field. The value must be a string.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 512,
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Specifies which fields in the response should be expanded.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 5000,
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "test_clock",
            "in": "query",
            "description": "Provides a list of customers that are associated with the specified test clock. The response will not include customers with test clocks if this parameter is not set.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomerResourceCustomerList",
                  "required": [
                    "data",
                    "has_more",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/customer"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True if this list has another page of items after this one that can be fetched."
                    },
                    "url": {
                      "maxLength": 5000,
                      "pattern": "^/v1/customers",
                      "type": "string",
                      "description": "The URL where this list can be accessed."
                    }
                  },
                  "description": "",
                  "x-expandableFields": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a customer",
        "description": "<p>Creates a new customer object.</p>",
        "operationId": "PostCustomers",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "description": "The customer's address. Learn about [country-specific requirements for calculating tax](https://docs.stripe.com/invoicing/taxes?dashboard-or-api=dashboard#set-up-customer).",
                    "anyOf": [
                      {
                        "title": "optional_fields_customer_address",
                        "type": "object",
                        "properties": {
                          "city": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "country": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "line1": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "line2": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "postal_code": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "state": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "balance": {
                    "type": "integer",
                    "description": "An integer amount in cents (or local equivalent) that represents the customer's current balance, which affect the customer's future invoices. A negative amount represents a credit that decreases the amount due on an invoice; a positive amount increases the amount due on an invoice."
                  },
                  "business_name": {
                    "description": "The customer's business name. This may be up to *150 characters*.",
                    "anyOf": [
                      {
                        "maxLength": 150,
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "cash_balance": {
                    "title": "cash_balance_param",
                    "type": "object",
                    "properties": {
                      "settings": {
                        "title": "balance_settings_param",
                        "type": "object",
                        "properties": {
                          "reconciliation_mode": {
                            "type": "string",
                            "enum": [
                              "automatic",
                              "manual",
                              "merchant_default"
                            ]
                          }
                        }
                      }
                    },
                    "description": "Balance information and default balance settings for this customer."
                  },
                  "description": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "An arbitrary string that you can attach to a customer object. It is displayed alongside the customer in the dashboard."
                  },
                  "email": {
                    "maxLength": 512,
                    "type": "string",
                    "description": "Customer's email address. It's displayed alongside the customer in your dashboard and can be useful for searching and tracking. This may be up to *512 characters*."
                  },
                  "expand": {
                    "type": "array",
                    "description": "Specifies which fields in the response should be expanded.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    }
                  },
                  "individual_name": {
                    "description": "The customer's full name. This may be up to *150 characters*.",
                    "anyOf": [
                      {
                        "maxLength": 150,
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "invoice_prefix": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "The prefix for the customer used to generate unique invoice numbers. Must be 3\u201312 uppercase letters or numbers."
                  },
                  "invoice_settings": {
                    "title": "customer_param",
                    "type": "object",
                    "properties": {
                      "custom_fields": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "title": "custom_field_params",
                              "required": [
                                "name",
                                "value"
                              ],
                              "type": "object",
                              "properties": {
                                "name": {
                                  "maxLength": 40,
                                  "type": "string"
                                },
                                "value": {
                                  "maxLength": 140,
                                  "type": "string"
                                }
                              }
                            },
                            "title": "CustomFieldsList"
                          },
                          {
                            "type": "string",
                            "enum": [
                              ""
                            ]
                          }
                        ]
                      },
                      "default_payment_method": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "footer": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "rendering_options": {
                        "anyOf": [
                          {
                            "title": "customer_rendering_options_param",
                            "type": "object",
                            "properties": {
                              "amount_tax_display": {
                                "type": "string",
                                "enum": [
                                  "",
                                  "exclude_tax",
                                  "include_inclusive_tax"
                                ]
                              },
                              "template": {
                                "maxLength": 5000,
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "string",
                            "enum": [
                              ""
                            ]
                          }
                        ]
                      }
                    },
                    "description": "Default invoice settings for this customer."
                  },
                  "metadata": {
                    "description": "Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
                    "anyOf": [
                      {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "title": "MetadataParam"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "name": {
                    "maxLength": 256,
                    "type": "string",
                    "description": "The customer's full name or business name."
                  },
                  "next_invoice_sequence": {
                    "type": "integer",
                    "description": "The sequence to be used on the customer's next invoice. Defaults to 1."
                  },
                  "payment_method": {
                    "maxLength": 5000,
                    "type": "string"
                  },
                  "phone": {
                    "maxLength": 20,
                    "type": "string",
                    "description": "The customer's phone number."
                  },
                  "preferred_locales": {
                    "type": "array",
                    "description": "Customer's preferred languages, ordered by preference.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    }
                  },
                  "shipping": {
                    "description": "The customer's shipping information. Appears on invoices emailed to this customer.",
                    "anyOf": [
                      {
                        "title": "customer_shipping",
                        "required": [
                          "address",
                          "name"
                        ],
                        "type": "object",
                        "properties": {
                          "address": {
                            "title": "optional_fields_customer_address",
                            "type": "object",
                            "properties": {
                              "city": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "country": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "line1": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "line2": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "postal_code": {
                                "maxLength": 5000,
                                "type": "string"
                              },
                              "state": {
                                "maxLength": 5000,
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "maxLength": 5000,
                            "type": "string"
                          },
                          "phone": {
                            "maxLength": 5000,
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "source": {
                    "maxLength": 5000,
                    "type": "string",
                    "x-stripeBypassValidation": true
                  },
                  "tax": {
                    "title": "shared_tax_create_param",
                    "type": "object",
                    "properties": {
                      "ip_address": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "string",
                            "enum": [
                              ""
                            ]
                          }
                        ]
                      },
                      "validate_location": {
                        "type": "string",
                        "enum": [
                          "deferred",
                          "immediately"
                        ]
                      }
                    },
                    "description": "Tax details about the customer."
                  },
                  "tax_exempt": {
                    "type": "string",
                    "description": "The customer's tax exemption. One of `none`, `exempt`, or `reverse`.",
                    "enum": [
                      "",
                      "exempt",
                      "none",
                      "reverse"
                    ]
                  },
                  "tax_id_data": {
                    "type": "array",
                    "description": "The customer's tax IDs.",
                    "items": {
                      "title": "data_params",
                      "required": [
                        "type",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "maxLength": 5000,
                          "type": "string",
                          "enum": [
                            "ad_nrt",
                            "ae_trn",
                            "al_tin",
                            "am_tin",
                            "ao_tin",
                            "ar_cuit",
                            "au_abn",
                            "au_arn",
                            "aw_tin",
                            "az_tin",
                            "ba_tin",
                            "bb_tin",
                            "bd_bin",
                            "bf_ifu",
                            "bg_uic",
                            "bh_vat",
                            "bj_ifu",
                            "bo_tin",
                            "br_cnpj",
                            "br_cpf",
                            "bs_tin",
                            "by_tin",
                            "ca_bn",
                            "ca_gst_hst",
                            "ca_pst_bc",
                            "ca_pst_mb",
                            "ca_pst_sk",
                            "ca_qst",
                            "cd_nif",
                            "ch_uid",
                            "ch_vat",
                            "cl_tin",
                            "cm_niu",
                            "cn_tin",
                            "co_nit",
                            "cr_tin",
                            "cv_nif",
                            "de_stn",
                            "do_rcn",
                            "ec_ruc",
                            "eg_tin",
                            "es_cif",
                            "et_tin",
                            "eu_oss_vat",
                            "eu_vat",
                            "gb_vat",
                            "ge_vat",
                            "gn_nif",
                            "hk_br",
                            "hr_oib",
                            "hu_tin",
                            "id_npwp",
                            "il_vat",
                            "in_gst",
                            "is_vat",
                            "jp_cn",
                            "jp_rn",
                            "jp_trn",
                            "ke_pin",
                            "kg_tin",
                            "kh_tin",
                            "kr_brn",
                            "kz_bin",
                            "la_tin",
                            "li_uid",
                            "li_vat",
                            "ma_vat",
                            "md_vat",
                            "me_pib",
                            "mk_vat",
                            "mr_nif",
                            "mx_rfc",
                            "my_frp",
                            "my_itn",
                            "my_sst",
                            "ng_tin",
                            "no_vat",
                            "no_voec",
                            "np_pan",
                            "nz_gst",
                            "om_vat",
                            "pe_ruc",
                            "ph_tin",
                            "pl_nip",
                            "ro_tin",
                            "rs_pib",
                            "ru_inn",
                            "ru_kpp",
                            "sa_vat",
                            "sg_gst",
                            "sg_uen",
                            "si_tin",
                            "sn_ninea",
                            "sr_fin",
                            "sv_nit",
                            "th_vat",
                            "tj_tin",
                            "tr_tin",
                            "tw_vat",
                            "tz_vat",
                            "ua_vat",
                            "ug_tin",
                            "us_ein",
                            "uy_ruc",
                            "uz_tin",
                            "uz_vat",
                            "ve_rif",
                            "vn_tin",
                            "za_vat",
                            "zm_tin",
                            "zw_tin"
                          ],
                          "x-stripeBypassValidation": true
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "test_clock": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "ID of the test clock to attach to the customer."
                  }
                },
                "additionalProperties": false
              },
              "encoding": {
                "address": {
                  "style": "deepObject",
                  "explode": true
                },
                "business_name": {
                  "style": "deepObject",
                  "explode": true
                },
                "cash_balance": {
                  "style": "deepObject",
                  "explode": true
                },
                "expand": {
                  "style": "deepObject",
                  "explode": true
                },
                "individual_name": {
                  "style": "deepObject",
                  "explode": true
                },
                "invoice_settings": {
                  "style": "deepObject",
                  "explode": true
                },
                "metadata": {
                  "style": "deepObject",
                  "explode": true
                },
                "preferred_locales": {
                  "style": "deepObject",
                  "explode": true
                },
                "shipping": {
                  "style": "deepObject",
                  "explode": true
                },
                "tax": {
                  "style": "deepObject",
                  "explode": true
                },
                "tax_id_data": {
                  "style": "deepObject",
                  "explode": true
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/disputes": {
      "get": {
        "summary": "List all disputes",
        "description": "<p>Returns a list of your disputes.</p>",
        "operationId": "GetDisputes",
        "parameters": [
          {
            "name": "charge",
            "in": "query",
            "description": "Only return disputes associated to the charge specified by this charge ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "Only return disputes that were created during the given date interval.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "anyOf": [
                {
                  "title": "range_query_specs",
                  "type": "object",
                  "properties": {
                    "gt": {
                      "type": "integer"
                    },
                    "gte": {
                      "type": "integer"
                    },
                    "lt": {
                      "type": "integer"
                    },
                    "lte": {
                      "type": "integer"
                    }
                  }
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Specifies which fields in the response should be expanded.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 5000,
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "payment_intent",
            "in": "query",
            "description": "Only return disputes associated to the PaymentIntent specified by this PaymentIntent ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DisputeList",
                  "required": [
                    "data",
                    "has_more",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dispute"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True if this list has another page of items after this one that can be fetched."
                    },
                    "url": {
                      "maxLength": 5000,
                      "pattern": "^/v1/disputes",
                      "type": "string",
                      "description": "The URL where this list can be accessed."
                    }
                  },
                  "description": "",
                  "x-expandableFields": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/disputes/{dispute}": {
      "post": {
        "summary": "Update a dispute",
        "description": "<p>When you get a dispute, contacting your customer is always the best first step. If that doesn\u2019t work, you can submit evidence to help us resolve the dispute in your favor. You can do this in your <a href=\"https://dashboard.stripe.com/disputes\">dashboard</a>, but if you prefer, you can use the API to submit evidence programmatically.</p>\n\n<p>Depending on your dispute type, different evidence fields will give you a better chance of winning your dispute. To figure out which evidence fields to provide, see our <a href=\"/docs/disputes/categories\">guide to dispute types</a>.</p>",
        "operationId": "PostDisputesDispute",
        "parameters": [
          {
            "name": "dispute",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "evidence": {
                    "title": "dispute_evidence_params",
                    "type": "object",
                    "properties": {
                      "access_activity_log": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "billing_address": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "cancellation_policy": {
                        "type": "string"
                      },
                      "cancellation_policy_disclosure": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "cancellation_rebuttal": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "customer_communication": {
                        "type": "string"
                      },
                      "customer_email_address": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "customer_name": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "customer_purchase_ip": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "customer_signature": {
                        "type": "string"
                      },
                      "duplicate_charge_documentation": {
                        "type": "string"
                      },
                      "duplicate_charge_explanation": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "duplicate_charge_id": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "enhanced_evidence": {
                        "anyOf": [
                          {
                            "title": "enhanced_evidence",
                            "type": "object",
                            "properties": {
                              "visa_compelling_evidence_3": {
                                "title": "visa_compelling_evidence3",
                                "type": "object",
                                "properties": {
                                  "disputed_transaction": {
                                    "title": "visa_compelling_evidence3_disputed_transaction",
                                    "type": "object",
                                    "properties": {
                                      "customer_account_id": {
                                        "anyOf": [
                                          {
                                            "maxLength": 5000,
                                            "type": "string"
                                          },
                                          {
                                            "type": "string",
                                            "enum": [
                                              ""
                                            ]
                                          }
                                        ]
                                      },
                                      "customer_device_fingerprint": {
                                        "anyOf": [
                                          {
                                            "maxLength": 5000,
                                            "type": "string"
                                          },
                                          {
                                            "type": "string",
                                            "enum": [
                                              ""
                                            ]
                                          }
                                        ]
                                      },
                                      "customer_device_id": {
                                        "anyOf": [
                                          {
                                            "maxLength": 5000,
                                            "type": "string"
                                          },
                                          {
                                            "type": "string",
                                            "enum": [
                                              ""
                                            ]
                                          }
                                        ]
                                      },
                                      "customer_email_address": {
                                        "anyOf": [
                                          {
                                            "maxLength": 5000,
                                            "type": "string"
                                          },
                                          {
                                            "type": "string",
                                            "enum": [
                                              ""
                                            ]
                                          }
                                        ]
                                      },
                                      "customer_purchase_ip": {
                                        "anyOf": [
                                          {
                                            "maxLength": 5000,
                                            "type": "string"
                                          },
                                          {
                                            "type": "string",
                                            "enum": [
                                              ""
                                            ]
                                          }
                                        ]
                                      },
                                      "merchandise_or_services": {
                                        "type": "string",
                                        "enum": [
                                          "merchandise",
                                          "services"
                                        ]
                                      },
                                      "product_description": {
                                        "anyOf": [
                                          {
                                            "maxLength": 5000,
                                            "type": "string"
                                          },
                                          {
                                            "type": "string",
                                            "enum": [
                                              ""
                                            ]
                                          }
                                        ]
                                      },
                                      "shipping_address": {
                                        "title": "shipping_address",
                                        "type": "object",
                                        "properties": {
                                          "city": {
                                            "anyOf": [
                                              {
                                                "maxLength": 5000,
                                                "type": "string"
                                              },
                                              {
                                                "type": "string",
                                                "enum": [
                                                  ""
                                                ]
                                              }
                                            ]
                                          },
                                          "country": {
                                            "anyOf": [
                                              {
                                                "maxLength": 5000,
                                                "type": "string"
                                              },
                                              {
                                                "type": "string",
                                                "enum": [
                                                  ""
                                                ]
                                              }
                                            ]
                                          },
                                          "line1": {
                                            "anyOf": [
                                              {
                                                "maxLength": 5000,
                                                "type": "string"
                                              },
                                              {
                                                "type": "string",
                                                "enum": [
                                                  ""
                                                ]
                                              }
                                            ]
                                          },
                                          "line2": {
                                            "anyOf": [
                                              {
                                                "maxLength": 5000,
                                                "type": "string"
                                              },
                                              {
                                                "type": "string",
                                                "enum": [
                                                  ""
                                                ]
                                              }
                                            ]
                                          },
                                          "postal_code": {
                                            "anyOf": [
                                              {
                                                "maxLength": 5000,
                                                "type": "string"
                                              },
                                              {
                                                "type": "string",
                                                "enum": [
                                                  ""
                                                ]
                                              }
                                            ]
                                          },
                                          "state": {
                                            "anyOf": [
                                              {
                                                "maxLength": 5000,
                                                "type": "string"
                                              },
                                              {
                                                "type": "string",
                                                "enum": [
                                                  ""
                                                ]
                                              }
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "prior_undisputed_transactions": {
                                    "type": "array",
                                    "items": {
                                      "title": "visa_compelling_evidence3_prior_undisputed_transaction",
                                      "required": [
                                        "charge"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "charge": {
                                          "maxLength": 5000,
                                          "type": "string"
                                        },
                                        "customer_account_id": {
                                          "anyOf": [
                                            {
                                              "maxLength": 5000,
                                              "type": "string"
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                ""
                                              ]
                                            }
                                          ]
                                        },
                                        "customer_device_fingerprint": {
                                          "anyOf": [
                                            {
                                              "maxLength": 5000,
                                              "type": "string"
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                ""
                                              ]
                                            }
                                          ]
                                        },
                                        "customer_device_id": {
                                          "anyOf": [
                                            {
                                              "maxLength": 5000,
                                              "type": "string"
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                ""
                                              ]
                                            }
                                          ]
                                        },
                                        "customer_email_address": {
                                          "anyOf": [
                                            {
                                              "maxLength": 5000,
                                              "type": "string"
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                ""
                                              ]
                                            }
                                          ]
                                        },
                                        "customer_purchase_ip": {
                                          "anyOf": [
                                            {
                                              "maxLength": 5000,
                                              "type": "string"
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                ""
                                              ]
                                            }
                                          ]
                                        },
                                        "product_description": {
                                          "anyOf": [
                                            {
                                              "maxLength": 5000,
                                              "type": "string"
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                ""
                                              ]
                                            }
                                          ]
                                        },
                                        "shipping_address": {
                                          "title": "shipping_address",
                                          "type": "object",
                                          "properties": {
                                            "city": {
                                              "anyOf": [
                                                {
                                                  "maxLength": 5000,
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    ""
                                                  ]
                                                }
                                              ]
                                            },
                                            "country": {
                                              "anyOf": [
                                                {
                                                  "maxLength": 5000,
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    ""
                                                  ]
                                                }
                                              ]
                                            },
                                            "line1": {
                                              "anyOf": [
                                                {
                                                  "maxLength": 5000,
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    ""
                                                  ]
                                                }
                                              ]
                                            },
                                            "line2": {
                                              "anyOf": [
                                                {
                                                  "maxLength": 5000,
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    ""
                                                  ]
                                                }
                                              ]
                                            },
                                            "postal_code": {
                                              "anyOf": [
                                                {
                                                  "maxLength": 5000,
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    ""
                                                  ]
                                                }
                                              ]
                                            },
                                            "state": {
                                              "anyOf": [
                                                {
                                                  "maxLength": 5000,
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    ""
                                                  ]
                                                }
                                              ]
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "visa_compliance": {
                                "title": "visa_compliance",
                                "type": "object",
                                "properties": {
                                  "fee_acknowledged": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "string",
                            "enum": [
                              ""
                            ]
                          }
                        ]
                      },
                      "product_description": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "receipt": {
                        "type": "string"
                      },
                      "refund_policy": {
                        "type": "string"
                      },
                      "refund_policy_disclosure": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "refund_refusal_explanation": {
                        "maxLength": 20000,
                        "type": "string"
                      },
                      "service_date": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "service_documentation": {
                        "type": "string"
                      },
                      "shipping_address": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "shipping_carrier": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "shipping_date": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "shipping_documentation": {
                        "type": "string"
                      },
                      "shipping_tracking_number": {
                        "maxLength": 5000,
                        "type": "string"
                      },
                      "uncategorized_file": {
                        "type": "string"
                      },
                      "uncategorized_text": {
                        "maxLength": 20000,
                        "type": "string"
                      }
                    },
                    "description": "Evidence to upload, to respond to a dispute. Updating any field in the hash will submit all fields in the hash for review. The combined character count of all fields is limited to 150,000."
                  },
                  "expand": {
                    "type": "array",
                    "description": "Specifies which fields in the response should be expanded.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    }
                  },
                  "metadata": {
                    "description": "Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
                    "anyOf": [
                      {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "title": "MetadataParam"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "submit": {
                    "type": "boolean",
                    "description": "Whether to immediately submit evidence to the bank. If `false`, evidence is staged on the dispute. Staged evidence is visible in the API and Dashboard, and can be submitted to the bank by making another request with this attribute set to `true` (the default)."
                  }
                },
                "additionalProperties": false
              },
              "encoding": {
                "evidence": {
                  "style": "deepObject",
                  "explode": true
                },
                "expand": {
                  "style": "deepObject",
                  "explode": true
                },
                "metadata": {
                  "style": "deepObject",
                  "explode": true
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dispute"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invoices": {
      "get": {
        "summary": "List all invoices",
        "description": "<p>You can list all invoices, or list the invoices for a specific customer. The invoices are returned sorted by creation date, with the most recently created invoices appearing first.</p>",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "name": "collection_method",
            "in": "query",
            "description": "The collection method of the invoice to retrieve. Either `charge_automatically` or `send_invoice`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "charge_automatically",
                "send_invoice"
              ]
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "Only return invoices that were created during the given date interval.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "anyOf": [
                {
                  "title": "range_query_specs",
                  "type": "object",
                  "properties": {
                    "gt": {
                      "type": "integer"
                    },
                    "gte": {
                      "type": "integer"
                    },
                    "lt": {
                      "type": "integer"
                    },
                    "lte": {
                      "type": "integer"
                    }
                  }
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "customer",
            "in": "query",
            "description": "Only return invoices for the customer specified by this customer ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "customer_account",
            "in": "query",
            "description": "Only return invoices for the account representing the customer specified by this account ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "due_date",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "anyOf": [
                {
                  "title": "range_query_specs",
                  "type": "object",
                  "properties": {
                    "gt": {
                      "type": "integer"
                    },
                    "gte": {
                      "type": "integer"
                    },
                    "lt": {
                      "type": "integer"
                    },
                    "lte": {
                      "type": "integer"
                    }
                  }
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Specifies which fields in the response should be expanded.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "maxLength": 5000,
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the invoice, one of `draft`, `open`, `paid`, `uncollectible`, or `void`. [Learn more](https://docs.stripe.com/billing/invoices/workflow#workflow-overview)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "open",
                "paid",
                "uncollectible",
                "void"
              ]
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "Only return invoices for the subscription specified by this subscription ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5000,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InvoicesResourceList",
                  "required": [
                    "data",
                    "has_more",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoice"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True if this list has another page of items after this one that can be fetched."
                    },
                    "url": {
                      "maxLength": 5000,
                      "pattern": "^/v1/invoices",
                      "type": "string",
                      "description": "The URL where this list can be accessed."
                    }
                  },
                  "description": "",
                  "x-expandableFields": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an invoice",
        "description": "<p>This endpoint creates a draft invoice for a given customer. The invoice remains a draft until you <a href=\"#finalize_invoice\">finalize</a> the invoice, which allows you to <a href=\"/api/invoices/pay\">pay</a> or <a href=\"/api/invoices/send\">send</a> the invoice to your customers.</p>",
        "operationId": "PostInvoices",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_tax_ids": {
                    "description": "The account tax IDs associated with the invoice. Only editable when the invoice is a draft.",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "maxLength": 5000,
                          "type": "string"
                        },
                        "title": "AccountTaxIdsList"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "application_fee_amount": {
                    "type": "integer",
                    "description": "A fee in cents (or local equivalent) that will be applied to the invoice and transferred to the application owner's Stripe account. The request must be made with an OAuth key or the Stripe-Account header in order to take an application fee. For more information, see the application fees [documentation](https://docs.stripe.com/billing/invoices/connect#collecting-fees)."
                  },
                  "auto_advance": {
                    "type": "boolean",
                    "description": "Controls whether Stripe performs [automatic collection](https://docs.stripe.com/invoicing/integration/automatic-advancement-collection) of the invoice. If `false`, the invoice's state doesn't automatically advance without an explicit action. Defaults to false."
                  },
                  "automatic_tax": {
                    "title": "automatic_tax_param",
                    "required": [
                      "enabled"
                    ],
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "liability": {
                        "title": "param",
                        "required": [
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "account",
                              "self"
                            ],
                            "x-stripeBypassValidation": true
                          }
                        }
                      }
                    },
                    "description": "Settings for automatic tax lookup for this invoice."
                  },
                  "automatically_finalizes_at": {
                    "type": "integer",
                    "description": "The time when this invoice should be scheduled to finalize (up to 5 years in the future). The invoice is finalized at this time if it's still in draft state.",
                    "format": "unix-time"
                  },
                  "collection_method": {
                    "type": "string",
                    "description": "Either `charge_automatically`, or `send_invoice`. When charging automatically, Stripe will attempt to pay this invoice using the default source attached to the customer. When sending an invoice, Stripe will email this invoice to the customer with payment instructions. Defaults to `charge_automatically`.",
                    "enum": [
                      "charge_automatically",
                      "send_invoice"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "The currency to create this invoice in. Defaults to that of `customer` if not specified.",
                    "format": "currency"
                  },
                  "custom_fields": {
                    "description": "A list of up to 4 custom fields to be displayed on the invoice.",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "title": "custom_field_params",
                          "required": [
                            "name",
                            "value"
                          ],
                          "type": "object",
                          "properties": {
                            "name": {
                              "maxLength": 40,
                              "type": "string"
                            },
                            "value": {
                              "maxLength": 140,
                              "type": "string"
                            }
                          }
                        },
                        "title": "CustomFieldsList"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "customer": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "The ID of the customer to bill."
                  },
                  "customer_account": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "The ID of the account to bill."
                  },
                  "days_until_due": {
                    "type": "integer",
                    "description": "The number of days from when the invoice is created until it is due. Valid only for invoices where `collection_method=send_invoice`."
                  },
                  "default_payment_method": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "ID of the default payment method for the invoice. It must belong to the customer associated with the invoice. If not set, defaults to the subscription's default payment method, if any, or to the default payment method in the customer's invoice settings."
                  },
                  "default_source": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "ID of the default payment source for the invoice. It must belong to the customer associated with the invoice and be in a chargeable state. If not set, defaults to the subscription's default source, if any, or to the customer's default source."
                  },
                  "default_tax_rates": {
                    "type": "array",
                    "description": "The tax rates that will apply to any line item that does not have `tax_rates` set.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    }
                  },
                  "description": {
                    "maxLength": 1500,
                    "type": "string",
                    "description": "An arbitrary string attached to the object. Often useful for displaying to users. Referenced as 'memo' in the Dashboard."
                  },
                  "discounts": {
                    "description": "The coupons and promotion codes to redeem into discounts for the invoice. If not specified, inherits the discount from the invoice's customer. Pass an empty string to avoid inheriting any discounts.",
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "title": "discounts_data_param",
                          "type": "object",
                          "properties": {
                            "coupon": {
                              "maxLength": 5000,
                              "type": "string"
                            },
                            "discount": {
                              "maxLength": 5000,
                              "type": "string"
                            },
                            "promotion_code": {
                              "maxLength": 5000,
                              "type": "string"
                            }
                          }
                        },
                        "title": "DiscountsList"
                      },
                      {
                        "type": "string",
                        "enum": [
                          ""
                        ]
                      }
                    ]
                  },
                  "due_date": {
                    "type": "integer",
                    "description": "The date on which payment for this invoice is due. Valid only for invoices where `collection_method=send_invoice`.",
                    "format": "unix-time"
                  },
                  "effective_at": {
                    "type": "integer",
                    "description": "The date when this invoice is in effect. Same as `finalized_at` unless overwritten. When defined, this value replaces the system-generated 'Date of issue' printed on the invoice PDF and receipt.",
                    "format": "unix-time"
                  },
                  "expand": {
                    "type": "array",
                    "description": "Specifies which fields in the response should be expanded.",
                    "items": {
                      "maxLength": 5000,
                      "type": "string"
                    }
                  },
                  "footer": {
                    "maxLength": 5000,
                    "type": "string",
                    "description": "Footer to be displayed on the invoice."
                  },
                  "from_invoice": {
                    "title": "from_invoice",
                    "required": [
                      "action",
                      "invoice"
                    ],
                    "type": "object",
                    "properties": {
                      "action": {
                        "maxLength": 5000,
                        "type": "string",
                        "enum": [
                          "revision"
                        ]
                      },
                      "invoice": {
                        "maxLength": 5000,
                        "type": "string"
                      }
                    },
                    "description": "Revise an existing invoice. The new invoice will be created in `status=draft`. See the [revision documentation](https://docs.stripe.com/invoicing/invoice-revisions) for more details."
                  },
                  "issuer": {
                    "title": "param",
                    "required": [
                      "type"
                    ],
                    "type": "object",
                    "properties": {
                      "account": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "account",
                          "self"
                        ],
                        "x-stripeBypassValidation": true
                      }
                    },
                    "description": "The connected account that issues the invoice. The invoice is presented with the branding and support information of the specified account."
                  },
                  "metadata": {
[...]
