// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as PaymentIntentsAPI from './payment-intents';
import * as AccountsAPI from './accounts';
import * as CustomersAPI from './customers';
import * as DisputesAPI from './disputes';
import * as InvoicesAPI from './invoices';
import * as Shared from './shared';
import { MyCursorIDPage, type MyCursorIDPageParams, PagePromise } from '../core/pagination';
import { RequestOptions } from '../internal/request-options';

export class PaymentIntents extends APIResource {
  /**
   * <p>Returns a list of PaymentIntents.</p>
   */
  list(
    query: PaymentIntentListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<PaymentIntentsMyCursorIDPage, PaymentIntent> {
    return this._client.getAPIList('/v1/payment_intents', MyCursorIDPage<PaymentIntent>, {
      query,
      ...options,
    });
  }
}

export type PaymentIntentsMyCursorIDPage = MyCursorIDPage<PaymentIntent>;

export interface PaymentFlowsInstallmentOptions {
  enabled: boolean;

  plan?: Shared.PaymentMethodDetailsCardInstallmentsPlan;
}

/**
 * A PaymentIntent guides you through the process of collecting a payment from your
 * customer. We recommend that you create exactly one PaymentIntent for each order
 * or customer session in your system. You can reference the PaymentIntent later to
 * see the history of payment attempts for a particular session.
 *
 * A PaymentIntent transitions through
 * [multiple statuses](/payments/paymentintents/lifecycle) throughout its lifetime
 * as it interfaces with Stripe.js to perform authentication flows and ultimately
 * creates at most one successful charge.
 *
 * Related guide:
 * [Payment Intents API](https://docs.stripe.com/payments/payment-intents)
 */
export interface PaymentIntent {
  /**
   * Unique identifier for the object.
   */
  id: string;

  /**
   * Time at which the object was created. Measured in seconds since the Unix epoch.
   */
  created: number;

  /**
   * Has the value `true` if the object exists in live mode or the value `false` if
   * the object exists in test mode.
   */
  livemode: boolean;

  /**
   * String representing the object's type. Objects of the same type share the same
   * value.
   */
  object: 'payment_intent';

  /**
   * Status of this PaymentIntent, one of `requires_payment_method`,
   * `requires_confirmation`, `requires_action`, `processing`, `requires_capture`,
   * `canceled`, or `succeeded`. Read more about each PaymentIntent
   * [status](https://docs.stripe.com/payments/intents#intent-statuses).
   */
  status:
    | 'canceled'
    | 'processing'
    | 'requires_action'
    | 'requires_capture'
    | 'requires_confirmation'
    | 'requires_payment_method'
    | 'succeeded';

  /**
   * Amount intended to be collected by this PaymentIntent. A positive integer
   * representing how much to charge in the
   * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal) (e.g.,
   * 100 cents to charge $1.00 or 100 to charge ¥100, a zero-decimal currency). The
   * minimum amount is $0.50 US or
   * [equivalent in charge currency](https://docs.stripe.com/currencies#minimum-and-maximum-charge-amounts).
   * The amount value supports up to eight digits (e.g., a value of 99999999 for a
   * USD charge of $999,999.99).
   */
  amount?: number;

  /**
   * Amount that can be captured from this PaymentIntent.
   */
  amount_capturable?: number;

  amount_details?: PaymentIntent.PaymentFlowsAmountDetails | PaymentIntent.PaymentFlowsAmountDetailsClient;

  /**
   * Amount that this PaymentIntent collects.
   */
  amount_received?: number;

  /**
   * ID of the Connect application that created the PaymentIntent.
   */
  application?: string | Shared.Application | null;

  /**
   * The amount of the application fee (if any) that will be requested to be applied
   * to the payment and transferred to the application owner's Stripe account. The
   * amount of the application fee collected will be capped at the total amount
   * captured. For more information, see the PaymentIntents
   * [use case for connected accounts](https://docs.stripe.com/payments/connected-accounts).
   */
  application_fee_amount?: number | null;

  automatic_payment_methods?: PaymentIntent.AutomaticPaymentMethods | null;

  /**
   * Populated when `status` is `canceled`, this is the time at which the
   * PaymentIntent was canceled. Measured in seconds since the Unix epoch.
   */
  canceled_at?: number | null;

  /**
   * Reason for cancellation of this PaymentIntent, either user-provided
   * (`duplicate`, `fraudulent`, `requested_by_customer`, or `abandoned`) or
   * generated by Stripe internally (`failed_invoice`, `void_invoice`, `automatic`,
   * or `expired`).
   */
  cancellation_reason?:
    | 'abandoned'
    | 'automatic'
    | 'duplicate'
    | 'expired'
    | 'failed_invoice'
    | 'fraudulent'
    | 'requested_by_customer'
    | 'void_invoice'
    | null;

  /**
   * Controls when the funds will be captured from the customer's account.
   */
  capture_method?: 'automatic' | 'automatic_async' | 'manual';

  /**
   * The client secret of this PaymentIntent. Used for client-side retrieval using a
   * publishable key.
   *
   * The client secret can be used to complete a payment from your frontend. It
   * should not be stored, logged, or exposed to anyone other than the customer. Make
   * sure that you have TLS enabled on any page that includes the client secret.
   *
   * Refer to our docs to
   * [accept a payment](https://docs.stripe.com/payments/accept-a-payment?ui=elements)
   * and learn about how `client_secret` should be handled.
   */
  client_secret?: string | null;

  /**
   * Describes whether we can confirm this PaymentIntent automatically, or if it
   * requires customer action to confirm the payment.
   */
  confirmation_method?: 'automatic' | 'manual';

  /**
   * Three-letter
   * [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in
   * lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
   */
  currency?: string;

  /**
   * ID of the Customer this PaymentIntent belongs to, if one exists.
   *
   * Payment methods attached to other Customers cannot be used with this
   * PaymentIntent.
   *
   * If
   * [setup_future_usage](https://api.stripe.com#payment_intent_object-setup_future_usage)
   * is set and this PaymentIntent's payment method is not `card_present`, then the
   * payment method attaches to the Customer after the PaymentIntent has been
   * confirmed and any required actions from the user are complete. If the payment
   * method is `card_present` and isn't a digital wallet, then a
   * [generated_card](https://docs.stripe.com/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
   * payment method representing the card is created and attached to the Customer
   * instead.
   */
  customer?: string | CustomersAPI.Customer | Shared.DeletedCustomer | null;

  /**
   * ID of the Account representing the customer that this PaymentIntent belongs to,
   * if one exists.
   *
   * Payment methods attached to other Accounts cannot be used with this
   * PaymentIntent.
   *
   * If
   * [setup_future_usage](https://api.stripe.com#payment_intent_object-setup_future_usage)
   * is set and this PaymentIntent's payment method is not `card_present`, then the
   * payment method attaches to the Account after the PaymentIntent has been
   * confirmed and any required actions from the user are complete. If the payment
   * method is `card_present` and isn't a digital wallet, then a
   * [generated_card](https://docs.stripe.com/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
   * payment method representing the card is created and attached to the Account
   * instead.
   */
  customer_account?: string | null;

  /**
   * An arbitrary string attached to the object. Often useful for displaying to
   * users.
   */
  description?: string | null;

  /**
   * The list of payment method types to exclude from use with this payment.
   */
  excluded_payment_method_types?: Array<
    | 'acss_debit'
    | 'affirm'
    | 'afterpay_clearpay'
    | 'alipay'
    | 'alma'
    | 'amazon_pay'
    | 'au_becs_debit'
    | 'bacs_debit'
    | 'bancontact'
    | 'billie'
    | 'blik'
    | 'boleto'
    | 'card'
    | 'cashapp'
    | 'crypto'
    | 'customer_balance'
    | 'eps'
    | 'fpx'
    | 'giropay'
    | 'grabpay'
    | 'ideal'
    | 'kakao_pay'
    | 'klarna'
    | 'konbini'
    | 'kr_card'
    | 'mb_way'
    | 'mobilepay'
    | 'multibanco'
    | 'naver_pay'
    | 'nz_bank_account'
    | 'oxxo'
    | 'p24'
    | 'pay_by_bank'
    | 'payco'
    | 'paynow'
    | 'paypal'
    | 'payto'
    | 'pix'
    | 'promptpay'
    | 'revolut_pay'
    | 'samsung_pay'
    | 'satispay'
    | 'sepa_debit'
    | 'sofort'
    | 'swish'
    | 'twint'
    | 'us_bank_account'
    | 'wechat_pay'
    | 'zip'
  > | null;

  hooks?: PaymentIntent.Hooks;

  last_payment_error?: InvoicesAPI.APIErrors | null;

  /**
   * ID of the latest [Charge object](https://docs.stripe.com/api/charges) created by
   * this PaymentIntent. This property is `null` until PaymentIntent confirmation is
   * attempted.
   */
  latest_charge?: string | DisputesAPI.Charge | null;

  /**
   * Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can
   * attach to an object. This can be useful for storing additional information about
   * the object in a structured format. Learn more about
   * [storing information in metadata](https://docs.stripe.com/payments/payment-intents/creating-payment-intents#storing-information-in-metadata).
   */
  metadata?: { [key: string]: string };

  next_action?: PaymentIntent.NextAction | null;

  /**
   * You can specify the settlement merchant as the connected account using the
   * `on_behalf_of` attribute on the charge. See the PaymentIntents
   * [use case for connected accounts](/payments/connected-accounts) for details.
   */
  on_behalf_of?: string | AccountsAPI.Account | null;

  payment_details?: PaymentIntent.PaymentDetails;

  /**
   * ID of the payment method used in this PaymentIntent.
   */
  payment_method?: string | InvoicesAPI.PaymentMethod | null;

  payment_method_configuration_details?: PaymentIntent.PaymentMethodConfigurationDetails | null;

  payment_method_options?: PaymentIntent.PaymentMethodOptions | null;

  /**
   * The list of payment method types (e.g. card) that this PaymentIntent is allowed
   * to use. A comprehensive list of valid payment method types can be found
   * [here](https://docs.stripe.com/api/payment_methods/object#payment_method_object-type).
   */
  payment_method_types?: Array<string>;

  presentment_details?: Shared.PaymentFlowsPaymentIntentPresentmentDetails;

  processing?: PaymentIntent.Processing | null;

  /**
   * Email address that the receipt for the resulting payment will be sent to. If
   * `receipt_email` is specified for a payment in live mode, a receipt will be sent
   * regardless of your
   * [email settings](https://dashboard.stripe.com/account/emails).
   */
  receipt_email?: string | null;

  /**
   * ID of the review associated with this PaymentIntent, if any.
   */
  review?: string | Review | null;

  /**
   * Indicates that you intend to make future payments with this PaymentIntent's
   * payment method.
   *
   * If you provide a Customer with the PaymentIntent, you can use this parameter to
   * [attach the payment method](/payments/save-during-payment) to the Customer after
   * the PaymentIntent is confirmed and the customer completes any required actions.
   * If you don't provide a Customer, you can still
   * [attach](/api/payment_methods/attach) the payment method to a Customer after the
   * transaction completes.
   *
   * If the payment method is `card_present` and isn't a digital wallet, Stripe
   * creates and attaches a
   * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
   * payment method representing the card to the Customer instead.
   *
   * When processing card payments, Stripe uses `setup_future_usage` to help you
   * comply with regional legislation and network rules, such as
   * [SCA](/strong-customer-authentication).
   */
  setup_future_usage?: 'off_session' | 'on_session' | null;

  shipping?: Shared.Shipping | null;

  /**
   * Text that appears on the customer's statement as the statement descriptor for a
   * non-card charge. This value overrides the account's default statement
   * descriptor. For information about requirements, including the 22-character
   * limit, see
   * [the Statement Descriptor docs](https://docs.stripe.com/get-started/account/statement-descriptors).
   *
   * Setting this value for a card charge returns an error. For card charges, set the
   * [statement_descriptor_suffix](https://docs.stripe.com/get-started/account/statement-descriptors#dynamic)
   * instead.
   */
  statement_descriptor?: string | null;

  /**
   * Provides information about a card charge. Concatenated to the account's
   * [statement descriptor prefix](https://docs.stripe.com/get-started/account/statement-descriptors#static)
   * to form the complete statement descriptor that appears on the customer's
   * statement.
   */
  statement_descriptor_suffix?: string | null;

  transfer_data?: PaymentTransferData | null;

  /**
   * A string that identifies the resulting payment as part of a group. Learn more
   * about the
   * [use case for connected accounts](https://docs.stripe.com/connect/separate-charges-and-transfers).
   */
  transfer_group?: string | null;
}

export namespace PaymentIntent {
  export interface PaymentFlowsAmountDetails {
    /**
     * The total discount applied on the transaction represented in the
     * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal). An
     * integer greater than 0.
     *
     * This field is mutually exclusive with the
     * `amount_details[line_items][#][discount_amount]` field.
     */
    discount_amount?: number;

    error?: PaymentFlowsAmountDetails.Error;

    /**
     * A list of line items, each containing information about a product in the
     * PaymentIntent. There is a maximum of 200 line items.
     */
    line_items?: PaymentFlowsAmountDetails.LineItems;

    shipping?: PaymentFlowsAmountDetails.Shipping;

    tax?: PaymentFlowsAmountDetails.Tax;

    tip?: PaymentFlowsAmountDetails.Tip;
  }

  export namespace PaymentFlowsAmountDetails {
    export interface Error {
      /**
       * The code of the error that occurred when validating the current amount details.
       */
      code?:
        | 'amount_details_amount_mismatch'
        | 'amount_details_tax_shipping_discount_greater_than_amount'
        | null;

      /**
       * A message providing more details about the error.
       */
      message?: string | null;
    }

    /**
     * A list of line items, each containing information about a product in the
     * PaymentIntent. There is a maximum of 200 line items.
     */
    export interface LineItems {
      /**
       * Details about each object.
       */
      data: Array<LineItems.Data>;

      /**
       * True if this list has another page of items after this one that can be fetched.
       */
      has_more: boolean;

      /**
       * String representing the object's type. Objects of the same type share the same
       * value. Always has the value `list`.
       */
      object: 'list';

      /**
       * The URL where this list can be accessed.
       */
      url: string;
    }

    export namespace LineItems {
      export interface Data {
        /**
         * Unique identifier for the object.
         */
        id: string;

        /**
         * String representing the object's type. Objects of the same type share the same
         * value.
         */
        object: 'payment_intent_amount_details_line_item';

        /**
         * The product name of the line item. Required for L3 rates. At most 1024
         * characters long.
         *
         * For Cards, this field is truncated to 26 alphanumeric characters before being
         * sent to the card networks. For Paypal, this field is truncated to 127
         * characters.
         */
        product_name: string;

        /**
         * The quantity of items. Required for L3 rates. An integer greater than 0.
         */
        quantity: number;

        /**
         * The unit cost of the line item represented in the
         * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal).
         * Required for L3 rates. An integer greater than or equal to 0.
         */
        unit_cost: number;

        /**
         * The discount applied on this line item represented in the
         * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal). An
         * integer greater than 0.
         *
         * This field is mutually exclusive with the `amount_details[discount_amount]`
         * field.
         */
        discount_amount?: number | null;

        payment_method_options?: Data.PaymentMethodOptions | null;

        /**
         * The product code of the line item, such as an SKU. Required for L3 rates. At
         * most 12 characters long.
         */
        product_code?: string | null;

        tax?: Data.Tax | null;

        /**
         * A unit of measure for the line item, such as gallons, feet, meters, etc.
         * Required for L3 rates. At most 12 alphanumeric characters long.
         */
        unit_of_measure?: string | null;
      }

      export namespace Data {
        export interface PaymentMethodOptions {
          card?: PaymentMethodOptions.Card;

          card_present?: PaymentMethodOptions.CardPresent;

          klarna?: PaymentMethodOptions.Klarna;

          paypal?: PaymentMethodOptions.Paypal;
        }

        export namespace PaymentMethodOptions {
          export interface Card {
            commodity_code?: string | null;
          }

          export interface CardPresent {
            commodity_code?: string | null;
          }

          export interface Klarna {
            image_url?: string | null;

            product_url?: string | null;

            reference?: string | null;

            subscription_reference?: string | null;
          }

          export interface Paypal {
            /**
             * Type of the line item.
             */
            category?: 'digital_goods' | 'donation' | 'physical_goods';

            /**
             * Description of the line item.
             */
            description?: string;

            /**
             * The Stripe account ID of the connected account that sells the item. This is only
             * needed when using
             * [Separate Charges and Transfers](https://docs.stripe.com/connect/separate-charges-and-transfers).
             */
            sold_by?: string;
          }
        }

        export interface Tax {
          /**
           * The total amount of tax on the transaction represented in the
           * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal).
           * Required for L2 rates. An integer greater than or equal to 0.
           *
           * This field is mutually exclusive with the
           * `amount_details[line_items][#][tax][total_tax_amount]` field.
           */
          total_tax_amount: number;
        }
      }
    }

    export interface Shipping {
      /**
       * If a physical good is being shipped, the cost of shipping represented in the
       * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal). An
       * integer greater than or equal to 0.
       */
      amount?: number | null;

      /**
       * If a physical good is being shipped, the postal code of where it is being
       * shipped from. At most 10 alphanumeric characters long, hyphens are allowed.
       */
      from_postal_code?: string | null;

      /**
       * If a physical good is being shipped, the postal code of where it is being
       * shipped to. At most 10 alphanumeric characters long, hyphens are allowed.
       */
      to_postal_code?: string | null;
    }

    export interface Tax {
      /**
       * The total amount of tax on the transaction represented in the
       * [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal).
       * Required for L2 rates. An integer greater than or equal to 0.
       *
       * This field is mutually exclusive with the
       * `amount_details[line_items][#][tax][total_tax_amount]` field.
       */
      total_tax_amount?: number | null;
    }

    export interface Tip {
      /**
       * Portion of the amount that corresponds to a tip.
       */
      amount?: number;
    }
  }

  export interface PaymentFlowsAmountDetailsClient {
    tip?: PaymentFlowsAmountDetailsClient.Tip;
  }

  export namespace PaymentFlowsAmountDetailsClient {
    export interface Tip {
      /**
       * Portion of the amount that corresponds to a tip.
       */
      amount?: number;
    }
  }

  export interface AutomaticPaymentMethods {
    /**
     * Automatically calculates compatible payment methods
     */
    enabled: boolean;

    /**
     * Controls whether this PaymentIntent will accept redirect-based payment methods.
     *
     * Redirect-based payment methods may require your customer to be redirected to a
     * payment method's app or site for authentication or additional steps. To
     * [confirm](https://docs.stripe.com/api/payment_intents/confirm) this
     * PaymentIntent, you may be required to provide a `return_url` to redirect
     * customers back to your site after they authenticate or complete the payment.
     */
    allow_redirects?: 'always' | 'never';
  }

  export interface Hooks {
    inputs?: Hooks.Inputs;
  }

  export namespace Hooks {
    export interface Inputs {
      tax?: Inputs.Tax;
    }

    export namespace Inputs {
      export interface Tax {
        /**
         * The [TaxCalculation](https://docs.stripe.com/api/tax/calculations) id
         */
        calculation: string;
      }
    }
  }

  export interface NextAction {
    /**
     * Type of the next action to perform. Refer to the other child attributes under
     * `next_action` for available values. Examples include: `redirect_to_url`,
     * `use_stripe_sdk`, `alipay_handle_redirect`, `oxxo_display_details`, or
     * `verify_with_microdeposits`.
     */
    type: string;

    alipay_handle_redirect?: NextAction.AlipayHandleRedirect;

    boleto_display_details?: NextAction.BoletoDisplayDetails;

    card_await_notification?: NextAction.CardAwaitNotification;

    cashapp_handle_redirect_or_display_qr_code?: NextAction.CashappHandleRedirectOrDisplayQrCode;

    display_bank_transfer_instructions?: NextAction.DisplayBankTransferInstructions;

    konbini_display_details?: NextAction.KonbiniDisplayDetails;

    multibanco_display_details?: NextAction.MultibancoDisplayDetails;

    oxxo_display_details?: NextAction.OxxoDisplayDetails;

    paynow_display_qr_code?: NextAction.PaynowDisplayQrCode;

    pix_display_qr_code?: NextAction.PixDisplayQrCode;

    promptpay_display_qr_code?: NextAction.PromptpayDisplayQrCode;

    redirect_to_url?: NextAction.RedirectToURL;

    swish_handle_redirect_or_display_qr_code?: NextAction.SwishHandleRedirectOrDisplayQrCode;

    /**
     * When confirming a PaymentIntent with Stripe.js, Stripe.js depends on the
     * contents of this dictionary to invoke authentication flows. The shape of the
     * contents is subject to change and is only intended to be used by Stripe.js.
     */
    use_stripe_sdk?: unknown;

    verify_with_microdeposits?: NextAction.VerifyWithMicrodeposits;

    wechat_pay_display_qr_code?: NextAction.WechatPayDisplayQrCode;

    wechat_pay_redirect_to_android_app?: NextAction.WechatPayRedirectToAndroidApp;

    wechat_pay_redirect_to_ios_app?: NextAction.WechatPayRedirectToIosApp;
  }

  export namespace NextAction {
    export interface AlipayHandleRedirect {
      /**
       * The native data to be used with Alipay SDK you must redirect your customer to in
       * order to authenticate the payment in an Android App.
       */
      native_data?: string | null;

      /**
       * The native URL you must redirect your customer to in order to authenticate the
       * payment in an iOS App.
       */
      native_url?: string | null;

      /**
       * If the customer does not exit their browser while authenticating, they will be
       * redirected to this specified URL after completion.
       */
      return_url?: string | null;

      /**
       * The URL you must redirect your customer to in order to authenticate the payment.
       */
      url?: string | null;
    }

    export interface BoletoDisplayDetails {
      /**
       * The timestamp after which the boleto expires.
       */
      expires_at?: number | null;

      /**
       * The URL to the hosted boleto voucher page, which allows customers to view the
       * boleto voucher.
       */
      hosted_voucher_url?: string | null;

      /**
       * The boleto number.
       */
      number?: string | null;

      /**
       * The URL to the downloadable boleto voucher PDF.
       */
      pdf?: string | null;
    }

    export interface CardAwaitNotification {
      /**
       * The time that payment will be attempted. If customer approval is required, they
       * need to provide approval before this time.
       */
      charge_attempt_at?: number | null;

      /**
       * For payments greater than INR 15000, the customer must provide explicit approval
       * of the payment with their bank. For payments of lower amount, no customer action
       * is required.
       */
      customer_approval_required?: boolean | null;
    }

    export interface CashappHandleRedirectOrDisplayQrCode {
      /**
       * The URL to the hosted Cash App Pay instructions page, which allows customers to
       * view the QR code, and supports QR code refreshing on expiration.
       */
      hosted_instructions_url: string;

      /**
       * The url for mobile redirect based auth
       */
      mobile_auth_url: string;

      qr_code: CashappHandleRedirectOrDisplayQrCode.QrCode;
    }

    export namespace CashappHandleRedirectOrDisplayQrCode {
      export interface QrCode {
        /**
         * The date (unix timestamp) when the QR code expires.
         */
        expires_at: number;

        /**
         * The image_url_png string used to render QR code
         */
        image_url_png: string;

        /**
         * The image_url_svg string used to render QR code
         */
        image_url_svg: string;
      }
    }

    export interface DisplayBankTransferInstructions {
      /**
       * Type of bank transfer
       */
      type:
        | 'eu_bank_transfer'
        | 'gb_bank_transfer'
        | 'jp_bank_transfer'
        | 'mx_bank_transfer'
        | 'us_bank_transfer';

      /**
       * The remaining amount that needs to be transferred to complete the payment.
       */
      amount_remaining?: number | null;

      /**
       * Three-letter
       * [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in
       * lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
       */
      currency?: string | null;

      /**
       * A list of financial addresses that can be used to fund the customer balance
       */
      financial_addresses?: Array<DisplayBankTransferInstructions.FinancialAddress>;

      /**
       * A link to a hosted page that guides your customer through completing the
       * transfer.
       */
      hosted_instructions_url?: string | null;

      /**
       * A string identifying this payment. Instruct your customer to include this code
       * in the reference or memo field of their bank transfer.
       */
      reference?: string | null;
    }

    export namespace DisplayBankTransferInstructions {
      /**
       * FinancialAddresses contain identifying information that resolves to a
       * FinancialAccount.
       */
      export interface FinancialAddress {
        /**
         * The type of financial address
         */
        type: 'aba' | 'iban' | 'sort_code' | 'spei' | 'swift' | 'zengin';

        /**
         * ABA Records contain U.S. bank account details per the ABA format.
         */
        aba?: FinancialAddress.Aba;

        /**
         * Iban Records contain E.U. bank account details per the SEPA format.
         */
        iban?: FinancialAddress.Iban;

        /**
         * Sort Code Records contain U.K. bank account details per the sort code format.
         */
        sort_code?: FinancialAddress.SortCode;

        /**
         * SPEI Records contain Mexico bank account details per the SPEI format.
         */
        spei?: FinancialAddress.Spei;

        /**
         * The payment networks supported by this FinancialAddress
         */
        supported_networks?: Array<
          'ach' | 'bacs' | 'domestic_wire_us' | 'fps' | 'sepa' | 'spei' | 'swift' | 'zengin'
        >;

        /**
         * SWIFT Records contain U.S. bank account details per the SWIFT format.
         */
        swift?: FinancialAddress.Swift;

        /**
         * Zengin Records contain Japan bank account details per the Zengin format.
         */
        zengin?: FinancialAddress.Zengin;
      }

      export namespace FinancialAddress {
        /**
         * ABA Records contain U.S. bank account details per the ABA format.
         */
        export interface Aba {
          account_holder_address: Shared.Address;

          /**
           * The account holder name
           */
          account_holder_name: string;

          /**
           * The ABA account number
           */
          account_number: string;

          /**
           * The account type
           */
          account_type: string;

          bank_address: Shared.Address;

          /**
           * The bank name
           */
          bank_name: string;

          /**
           * The ABA routing number
           */
          routing_number: string;
        }

        /**
         * Iban Records contain E.U. bank account details per the SEPA format.
         */
        export interface Iban {
          account_holder_address: Shared.Address;

          /**
           * The name of the person or business that owns the bank account
           */
          account_holder_name: string;

          bank_address: Shared.Address;

          /**
           * The BIC/SWIFT code of the account.
           */
          bic: string;

          /**
           * Two-letter country code
           * ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)).
           */
          country: string;

          /**
           * The IBAN of the account.
           */
          iban: string;
        }

        /**
         * Sort Code Records contain U.K. bank account details per the sort code format.
         */
        export interface SortCode {
          account_holder_address: Shared.Address;

          /**
           * The name of the person or business that owns the bank account
           */
          account_holder_name: string;

          /**
           * The account number
           */
          account_number: string;

          bank_address: Shared.Address;

          /**
           * The six-digit sort code
           */
          sort_code: string;
        }

        /**
         * SPEI Records contain Mexico bank account details per the SPEI format.
         */
        export interface Spei {
          account_holder_address: Shared.Address;

          /**
           * The account holder name
           */
          account_holder_name: string;

          bank_address: Shared.Address;

          /**
           * The three-digit bank code
           */
          bank_code: string;

          /**
           * The short banking institution name
           */
          bank_name: string;

          /**
           * The CLABE number
           */
          clabe: string;
        }

        /**
         * SWIFT Records contain U.S. bank account details per the SWIFT format.
         */
        export interface Swift {
          account_holder_address: Shared.Address;

          /**
           * The account holder name
           */
          account_holder_name: string;

          /**
           * The account number
           */
          account_number: string;

          /**
           * The account type
           */
          account_type: string;

          bank_address: Shared.Address;

          /**
           * The bank name
           */
          bank_name: string;

          /**
           * The SWIFT code
           */
          swift_code: string;
        }

        /**
         * Zengin Records contain Japan bank account details per the Zengin format.
         */
        export interface Zengin {
          account_holder_address: Shared.Address;

          bank_address: Shared.Address;

          /**
           * The account holder name
           */
          account_holder_name?: string | null;

          /**
           * The account number
           */
          account_number?: string | null;

          /**
           * The bank account type. In Japan, this can only be `futsu` or `toza`.
           */
          account_type?: string | null;

          /**
           * The bank code of the account
           */
          bank_code?: string | null;

          /**
           * The bank name of the account
           */
          bank_name?: string | null;

          /**
           * The branch code of the account
           */
          branch_code?: string | null;

          /**
           * The branch name of the account
           */
          branch_name?: string | null;
        }
      }
    }

    export interface KonbiniDisplayDetails {
      /**
       * The timestamp at which the pending Konbini payment expires.
       */
      expires_at: number;

      stores: KonbiniDisplayDetails.Stores;

      /**
       * The URL for the Konbini payment instructions page, which allows customers to
       * view and print a Konbini voucher.
       */
      hosted_voucher_url?: string | null;
    }

    export namespace KonbiniDisplayDetails {
      export interface Stores {
        familymart?: Stores.Familymart | null;

        lawson?: Stores.Lawson | null;

        ministop?: Stores.Ministop | null;

        seicomart?: Stores.Seicomart | null;
      }

      export namespace Stores {
        export interface Familymart {
          /**
           * The payment code.
           */
          payment_code: string;

          /**
           * The confirmation number.
           */
          confirmation_number?: string;
        }

        export interface Lawson {
          /**
           * The payment code.
           */
          payment_code: string;

          /**
           * The confirmation number.
           */
          confirmation_number?: string;
        }

        export interface Ministop {
          /**
           * The payment code.
           */
          payment_code: string;

          /**
           * The confirmation number.
           */
          confirmation_number?: string;
        }

        export interface Seicomart {
          /**
           * The payment code.
           */
          payment_code: string;

          /**
           * The confirmation number.
           */
          confirmation_number?: string;
        }
      }
    }

    export interface MultibancoDisplayDetails {
      /**
       * Entity number associated with this Multibanco payment.
       */
      entity?: string | null;

      /**
       * The timestamp at which the Multibanco voucher expires.
       */
      expires_at?: number | null;

      /**
       * The URL for the hosted Multibanco voucher page, which allows customers to view a
       * Multibanco voucher.
       */
      hosted_voucher_url?: string | null;

      /**
       * Reference number associated with this Multibanco payment.
       */
      reference?: string | null;
    }

    export interface OxxoDisplayDetails {
      /**
       * The timestamp after which the OXXO voucher expires.
       */
      expires_after?: number | null;

      /**
       * The URL for the hosted OXXO voucher page, which allows customers to view and
       * print an OXXO voucher.
       */
      hosted_voucher_url?: string | null;

      /**
       * OXXO reference number.
       */
      number?: string | null;
    }

    export interface PaynowDisplayQrCode {
      /**
       * The raw data string used to generate QR code, it should be used together with QR
       * code library.
       */
      data: string;

      /**
       * The image_url_png string used to render QR code
       */
      image_url_png: string;

      /**
       * The image_url_svg string used to render QR code
       */
      image_url_svg: string;

      /**
       * The URL to the hosted PayNow instructions page, which allows customers to view
       * the PayNow QR code.
       */
      hosted_instructions_url?: string | null;
    }

    export interface PixDisplayQrCode {
      /**
       * The raw data string used to generate QR code, it should be used together with QR
       * code library.
       */
      data?: string;

      /**
       * The date (unix timestamp) when the PIX expires.
       */
      expires_at?: number;

      /**
       * The URL to the hosted pix instructions page, which allows customers to view the
       * pix QR code.
       */
      hosted_instructions_url?: string;

      /**
       * The image_url_png string used to render png QR code
       */
      image_url_png?: string;

      /**
       * The image_url_svg string used to render svg QR code
       */
      image_url_svg?: string;
    }

    export interface PromptpayDisplayQrCode {
      /**
       * The raw data string used to generate QR code, it should be used together with QR
       * code library.
       */
      data: string;

      /**
       * The URL to the hosted PromptPay instructions page, which allows customers to
       * view the PromptPay QR code.
       */
      hosted_instructions_url: string;

      /**
       * The PNG path used to render the QR code, can be used as the source in an HTML
       * img tag
       */
      image_url_png: string;

      /**
       * The SVG path used to render the QR code, can be used as the source in an HTML
       * img tag
       */
      image_url_svg: string;
    }

    export interface RedirectToURL {
      /**
       * If the customer does not exit their browser while authenticating, they will be
       * redirected to this specified URL after completion.
       */
      return_url?: string | null;

      /**
       * The URL you must redirect your customer to in order to authenticate the payment.
       */
      url?: string | null;
    }

    export interface SwishHandleRedirectOrDisplayQrCode {
      /**
       * The URL to the hosted Swish instructions page, which allows customers to view
       * the QR code.
       */
      hosted_instructions_url: string;

      qr_code: SwishHandleRedirectOrDisplayQrCode.QrCode;
    }

    export namespace SwishHandleRedirectOrDisplayQrCode {
      export interface QrCode {
        /**
         * The raw data string used to generate QR code, it should be used together with QR
         * code library.
         */
        data: string;

        /**
         * The image_url_png string used to render QR code
         */
        image_url_png: string;

        /**
         * The image_url_svg string used to render QR code
         */
        image_url_svg: string;
      }
    }

    export interface VerifyWithMicrodeposits {
      /**
       * The timestamp when the microdeposits are expected to land.
       */
      arrival_date: number;

      /**
       * The URL for the hosted verification page, which allows customers to verify their
       * bank account.
       */
      hosted_verification_url: string;

      /**
       * The type of the microdeposit sent to the customer. Used to distinguish between
       * different verification methods.
       */
      microdeposit_type?: 'amounts' | 'descriptor_code' | null;
    }

    export interface WechatPayDisplayQrCode {
      /**
       * The data being used to generate QR code
       */
      data: string;

      /**
       * The URL to the hosted WeChat Pay instructions page, which allows customers to
       * view the WeChat Pay QR code.
       */
      hosted_instructions_url: string;

      /**
       * The base64 image data for a pre-generated QR code
       */
      image_data_url: string;

      /**
       * The image_url_png string used to render QR code
       */
      image_url_png: string;

      /**
       * The image_url_svg string used to render QR code
       */
      image_url_svg: string;
    }

    export interface WechatPayRedirectToAndroidApp {
      /**
       * app_id is the APP ID registered on WeChat open platform
       */
      app_id: string;

      /**
       * nonce_str is a random string
       */
      nonce_str: string;

      /**
       * package is static value
       */
      package: string;

      /**
       * an unique merchant ID assigned by WeChat Pay
       */
      partner_id: string;

      /**
       * an unique trading ID assigned by WeChat Pay
       */
      prepay_id: string;

      /**
       * A signature
       */
      sign: string;

      /**
       * Specifies the current time in epoch format
       */
      timestamp: string;
    }

    export interface WechatPayRedirectToIosApp {
      /**
       * An universal link that redirect to WeChat Pay app
       */
      native_url: string;
    }
  }

  export interface PaymentDetails {
    /**
     * A unique value to identify the customer. This field is available only for card
     * payments.
     *
     * This field is truncated to 25 alphanumeric characters, excluding spaces, before
     * being sent to card networks.
     */
    customer_reference?: string | null;

    /**
     * A unique value assigned by the business to identify the transaction. Required
     * for L2 and L3 rates.
     *
     * Required when the Payment Method Types array contains `card`, including when
     * [automatic_payment_methods.enabled](/api/payment_intents/create#create_payment_intent-automatic_payment_methods-enabled)
     * is set to `true`.
     *
     * For Cards, this field is truncated to 25 alphanumeric characters, excluding
     * spaces, before being sent to card networks. For Klarna, this field is truncated
     * to 255 characters and is visible to customers when they view the order in the
     * Klarna app.
     */
    order_reference?: string | null;
  }

  export interface PaymentMethodConfigurationDetails {
    /**
     * ID of the payment method configuration used.
     */
    id: string;

    /**
     * ID of the parent payment method configuration used.
     */
    parent?: string | null;
  }

  export interface PaymentMethodOptions {
    acss_debit?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsAcssDebit
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    affirm?:
      | PaymentMethodOptions.PaymentMethodOptionsAffirm
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    afterpay_clearpay?:
      | PaymentMethodOptions.PaymentMethodOptionsAfterpayClearpay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    alipay?:
      | PaymentMethodOptions.PaymentMethodOptionsAlipay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    alma?:
      | PaymentMethodOptions.PaymentMethodOptionsAlma
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    amazon_pay?:
      | PaymentMethodOptions.PaymentMethodOptionsAmazonPay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    au_becs_debit?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsAuBecsDebit
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    bacs_debit?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsBacsDebit
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    bancontact?:
      | PaymentMethodOptions.PaymentMethodOptionsBancontact
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    billie?:
      | PaymentMethodOptions.PaymentMethodOptionsBillie
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    blik?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsBlik
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    boleto?:
      | PaymentMethodOptions.PaymentMethodOptionsBoleto
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    card?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsCard
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    card_present?:
      | PaymentMethodOptions.PaymentMethodOptionsCardPresent
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    cashapp?:
      | PaymentMethodOptions.PaymentMethodOptionsCashapp
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    crypto?:
      | PaymentMethodOptions.PaymentMethodOptionsCrypto
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    customer_balance?:
      | PaymentMethodOptions.PaymentMethodOptionsCustomerBalance
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    eps?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsEps
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    fpx?:
      | PaymentMethodOptions.PaymentMethodOptionsFpx
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    giropay?:
      | PaymentMethodOptions.PaymentMethodOptionsGiropay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    grabpay?:
      | PaymentMethodOptions.PaymentMethodOptionsGrabpay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    ideal?:
      | PaymentMethodOptions.PaymentMethodOptionsIdeal
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    interac_present?:
      | PaymentMethodOptions.PaymentMethodOptionsInteracPresent
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    kakao_pay?:
      | PaymentMethodOptions.PaymentFlowsPrivatePaymentMethodsKakaoPayPaymentMethodOptions
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    klarna?:
      | PaymentMethodOptions.PaymentMethodOptionsKlarna
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    konbini?:
      | PaymentMethodOptions.PaymentMethodOptionsKonbini
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    kr_card?:
      | PaymentMethodOptions.PaymentMethodOptionsKrCard
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    link?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsLink
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    mb_way?:
      | PaymentMethodOptions.PaymentMethodOptionsMBWay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    mobilepay?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsMobilepay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    multibanco?:
      | PaymentMethodOptions.PaymentMethodOptionsMultibanco
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    naver_pay?:
      | PaymentMethodOptions.PaymentFlowsPrivatePaymentMethodsNaverPayPaymentMethodOptions
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    nz_bank_account?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsNzBankAccount
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    oxxo?:
      | PaymentMethodOptions.PaymentMethodOptionsOxxo
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    p24?:
      | PaymentMethodOptions.PaymentMethodOptionsP24
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    pay_by_bank?:
      | PaymentMethodOptions.PaymentMethodOptionsPayByBank
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    payco?:
      | PaymentMethodOptions.PaymentFlowsPrivatePaymentMethodsPaycoPaymentMethodOptions
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    paynow?:
      | PaymentMethodOptions.PaymentMethodOptionsPaynow
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    paypal?:
      | PaymentMethodOptions.PaymentMethodOptionsPaypal
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    payto?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsPayto
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    pix?:
      | PaymentMethodOptions.PaymentMethodOptionsPix
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    promptpay?:
      | PaymentMethodOptions.PaymentMethodOptionsPromptpay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    revolut_pay?:
      | PaymentMethodOptions.PaymentMethodOptionsRevolutPay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    samsung_pay?:
      | PaymentMethodOptions.PaymentFlowsPrivatePaymentMethodsSamsungPayPaymentMethodOptions
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    satispay?:
      | PaymentMethodOptions.PaymentMethodOptionsSatispay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    sepa_debit?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsSepaDebit
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    sofort?:
      | PaymentMethodOptions.PaymentMethodOptionsSofort
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    swish?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsSwish
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    twint?:
      | PaymentMethodOptions.PaymentMethodOptionsTwint
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    us_bank_account?:
      | PaymentMethodOptions.PaymentIntentPaymentMethodOptionsUsBankAccount
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    wechat_pay?:
      | PaymentMethodOptions.PaymentMethodOptionsWechatPay
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;

    zip?:
      | PaymentMethodOptions.PaymentMethodOptionsZip
      | PaymentIntentsAPI.PaymentIntentTypeSpecificPaymentMethodOptionsClient;
  }

  export namespace PaymentMethodOptions {
    export interface PaymentIntentPaymentMethodOptionsAcssDebit {
      mandate_options?: PaymentIntentPaymentMethodOptionsAcssDebit.MandateOptions;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';

      /**
       * Controls when Stripe will attempt to debit the funds from the customer's
       * account. The date must be a string in YYYY-MM-DD format. The date must be in the
       * future and between 3 and 15 calendar days from now.
       */
      target_date?: string;

      /**
       * Bank account verification method.
       */
      verification_method?: 'automatic' | 'instant' | 'microdeposits';
    }

    export namespace PaymentIntentPaymentMethodOptionsAcssDebit {
      export interface MandateOptions {
        /**
         * A URL for custom mandate text
         */
        custom_mandate_url?: string;

        /**
         * Description of the interval. Only required if the 'payment_schedule' parameter
         * is 'interval' or 'combined'.
         */
        interval_description?: string | null;

        /**
         * Payment schedule for the mandate.
         */
        payment_schedule?: 'combined' | 'interval' | 'sporadic' | null;

        /**
         * Transaction type of the mandate.
         */
        transaction_type?: 'business' | 'personal' | null;
      }
    }

    export interface PaymentMethodOptionsAffirm {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Preferred language of the Affirm authorization page that the customer is
       * redirected to.
       */
      preferred_locale?: string;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsAfterpayClearpay {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * An internal identifier or reference that this payment corresponds to. You must
       * limit the identifier to 128 characters, and it can only contain letters,
       * numbers, underscores, backslashes, and dashes. This field differs from the
       * statement descriptor and item name.
       */
      reference?: string | null;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsAlipay {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentMethodOptionsAlma {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';
    }

    export interface PaymentMethodOptionsAmazonPay {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentIntentPaymentMethodOptionsAuBecsDebit {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';

      /**
       * Controls when Stripe will attempt to debit the funds from the customer's
       * account. The date must be a string in YYYY-MM-DD format. The date must be in the
       * future and between 3 and 15 calendar days from now.
       */
      target_date?: string;
    }

    export interface PaymentIntentPaymentMethodOptionsBacsDebit {
      mandate_options?: PaymentIntentPaymentMethodOptionsBacsDebit.MandateOptions;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';

      /**
       * Controls when Stripe will attempt to debit the funds from the customer's
       * account. The date must be a string in YYYY-MM-DD format. The date must be in the
       * future and between 3 and 15 calendar days from now.
       */
      target_date?: string;
    }

    export namespace PaymentIntentPaymentMethodOptionsBacsDebit {
      export interface MandateOptions {
        /**
         * Prefix used to generate the Mandate reference. Must be at most 12 characters
         * long. Must consist of only uppercase letters, numbers, spaces, or the following
         * special characters: '/', '\_', '-', '&', '.'. Cannot begin with 'DDIC' or
         * 'STRIPE'.
         */
        reference_prefix?: string;
      }
    }

    export interface PaymentMethodOptionsBancontact {
      /**
       * Preferred language of the Bancontact authorization page that the customer is
       * redirected to.
       */
      preferred_language: 'de' | 'en' | 'fr' | 'nl';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentMethodOptionsBillie {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';
    }

    export interface PaymentIntentPaymentMethodOptionsBlik {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsBoleto {
      /**
       * The number of calendar days before a Boleto voucher expires. For example, if you
       * create a Boleto voucher on Monday and you set expires_after_days to 2, the
       * Boleto voucher will expire on Wednesday at 23:59 America/Sao_Paulo time.
       */
      expires_after_days: number;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';
    }

    export interface PaymentIntentPaymentMethodOptionsCard {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      installments?: PaymentIntentPaymentMethodOptionsCard.Installments | null;

      mandate_options?: PaymentIntentPaymentMethodOptionsCard.MandateOptions | null;

      /**
       * Selected network to process this payment intent on. Depends on the available
       * networks of the card attached to the payment intent. Can be only set
       * confirm-time.
       */
      network?:
        | 'amex'
        | 'cartes_bancaires'
        | 'diners'
        | 'discover'
        | 'eftpos_au'
        | 'girocard'
        | 'interac'
        | 'jcb'
        | 'link'
        | 'mastercard'
        | 'unionpay'
        | 'unknown'
        | 'visa'
        | null;

      /**
       * Request ability to
       * [capture beyond the standard authorization validity window](https://docs.stripe.com/payments/extended-authorization)
       * for this PaymentIntent.
       */
      request_extended_authorization?: 'if_available' | 'never';

      /**
       * Request ability to
       * [increment the authorization](https://docs.stripe.com/payments/incremental-authorization)
       * for this PaymentIntent.
       */
      request_incremental_authorization?: 'if_available' | 'never';

      /**
       * Request ability to make
       * [multiple captures](https://docs.stripe.com/payments/multicapture) for this
       * PaymentIntent.
       */
      request_multicapture?: 'if_available' | 'never';

      /**
       * Request ability to [overcapture](https://docs.stripe.com/payments/overcapture)
       * for this PaymentIntent.
       */
      request_overcapture?: 'if_available' | 'never';

      /**
       * We strongly recommend that you rely on our SCA Engine to automatically prompt
       * your customers for authentication based on risk level and
       * [other requirements](https://docs.stripe.com/strong-customer-authentication).
       * However, if you wish to request 3D Secure based on logic from your own fraud
       * engine, provide this option. If not provided, this value defaults to
       * `automatic`. Read our guide on
       * [manually requesting 3D Secure](https://docs.stripe.com/payments/3d-secure/authentication-flow#manual-three-ds)
       * for more information on how this configuration interacts with Radar and our SCA
       * Engine.
       */
      request_three_d_secure?: 'any' | 'automatic' | 'challenge' | null;

      /**
       * When enabled, using a card that is attached to a customer will require the CVC
       * to be provided again (i.e. using the cvc_token parameter).
       */
      require_cvc_recollection?: boolean;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';

      /**
       * Provides information about a card payment that customers see on their
       * statements. Concatenated with the Kana prefix (shortened Kana descriptor) or
       * Kana statement descriptor that’s set on the account to form the complete
       * statement descriptor. Maximum 22 characters. On card statements, the
       * _concatenation_ of both prefix and suffix (including separators) will appear
       * truncated to 22 characters.
       */
      statement_descriptor_suffix_kana?: string;

      /**
       * Provides information about a card payment that customers see on their
       * statements. Concatenated with the Kanji prefix (shortened Kanji descriptor) or
       * Kanji statement descriptor that’s set on the account to form the complete
       * statement descriptor. Maximum 17 characters. On card statements, the
       * _concatenation_ of both prefix and suffix (including separators) will appear
       * truncated to 17 characters.
       */
      statement_descriptor_suffix_kanji?: string;
    }

    export namespace PaymentIntentPaymentMethodOptionsCard {
      export interface Installments {
        /**
         * Whether Installments are enabled for this PaymentIntent.
         */
        enabled: boolean;

        /**
         * Installment plans that may be selected for this PaymentIntent.
         */
        available_plans?: Array<Shared.PaymentMethodDetailsCardInstallmentsPlan> | null;

        plan?: Shared.PaymentMethodDetailsCardInstallmentsPlan | null;
      }

      export interface MandateOptions {
        /**
         * Amount to be charged for future payments.
         */
        amount: number;

        /**
         * One of `fixed` or `maximum`. If `fixed`, the `amount` param refers to the exact
         * amount to be charged in future payments. If `maximum`, the amount charged can be
         * up to the value passed for the `amount` param.
         */
        amount_type: 'fixed' | 'maximum';

        /**
         * Specifies payment frequency. One of `day`, `week`, `month`, `year`, or
         * `sporadic`.
         */
        interval: 'day' | 'month' | 'sporadic' | 'week' | 'year';

        /**
         * Unique identifier for the mandate or subscription.
         */
        reference: string;

        /**
         * Start date of the mandate or subscription. Start date should not be lesser than
         * yesterday.
         */
        start_date: number;

        /**
         * A description of the mandate or subscription that is meant to be displayed to
         * the customer.
         */
        description?: string | null;

        /**
         * End date of the mandate or subscription. If not provided, the mandate will be
         * active until canceled. If provided, end date should be after start date.
         */
        end_date?: number | null;

        /**
         * The number of intervals between payments. For example, `interval=month` and
         * `interval_count=3` indicates one payment every three months. Maximum of one year
         * interval allowed (1 year, 12 months, or 52 weeks). This parameter is optional
         * when `interval=sporadic`.
         */
        interval_count?: number | null;

        /**
         * Specifies the type of mandates supported. Possible values are `india`.
         */
        supported_types?: Array<'india'> | null;
      }
    }

    export interface PaymentMethodOptionsCardPresent {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual' | 'manual_preferred';

      /**
       * Request ability to capture this payment beyond the standard
       * [authorization validity window](https://docs.stripe.com/terminal/features/extended-authorizations#authorization-validity)
       */
      request_extended_authorization?: boolean | null;

      /**
       * Request ability to
       * [increment](https://docs.stripe.com/terminal/features/incremental-authorizations)
       * this PaymentIntent if the combination of MCC and card brand is eligible. Check
       * [incremental_authorization_supported](https://docs.stripe.com/api/charges/object#charge_object-payment_method_details-card_present-incremental_authorization_supported)
       * in the [Confirm](https://docs.stripe.com/api/payment_intents/confirm) response
       * to verify support.
       */
      request_incremental_authorization_support?: boolean | null;

      routing?: PaymentIntentsAPI.PaymentMethodOptionsCardPresentRouting;
    }

    export interface PaymentMethodOptionsCashapp {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';
    }

    export interface PaymentMethodOptionsCrypto {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsCustomerBalance {
      bank_transfer?: PaymentMethodOptionsCustomerBalance.BankTransfer;

      /**
       * The funding method type to be used when there are not enough funds in the
       * customer balance. Permitted values include: `bank_transfer`.
       */
      funding_type?: 'bank_transfer' | null;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export namespace PaymentMethodOptionsCustomerBalance {
      export interface BankTransfer {
        eu_bank_transfer?: BankTransfer.EuBankTransfer;

        /**
         * List of address types that should be returned in the financial_addresses
         * response. If not specified, all valid types will be returned.
         *
         * Permitted values include: `sort_code`, `zengin`, `iban`, or `spei`.
         */
        requested_address_types?: Array<'aba' | 'iban' | 'sepa' | 'sort_code' | 'spei' | 'swift' | 'zengin'>;

        /**
         * The bank transfer type that this PaymentIntent is allowed to use for funding
         * Permitted values include: `eu_bank_transfer`, `gb_bank_transfer`,
         * `jp_bank_transfer`, `mx_bank_transfer`, or `us_bank_transfer`.
         */
        type?:
          | 'eu_bank_transfer'
          | 'gb_bank_transfer'
          | 'jp_bank_transfer'
          | 'mx_bank_transfer'
          | 'us_bank_transfer'
          | null;
      }

      export namespace BankTransfer {
        export interface EuBankTransfer {
          /**
           * The desired country code of the bank account information. Permitted values
           * include: `BE`, `DE`, `ES`, `FR`, `IE`, or `NL`.
           */
          country: 'BE' | 'DE' | 'ES' | 'FR' | 'IE' | 'NL';
        }
      }
    }

    export interface PaymentIntentPaymentMethodOptionsEps {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsFpx {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsGiropay {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsGrabpay {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsIdeal {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentMethodOptionsInteracPresent {}

    export interface PaymentFlowsPrivatePaymentMethodsKakaoPayPaymentMethodOptions {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentMethodOptionsKlarna {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Preferred locale of the Klarna checkout page that the customer is redirected to.
       */
      preferred_locale?: string | null;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session' | 'on_session';
    }

    export interface PaymentMethodOptionsKonbini {
      /**
       * An optional 10 to 11 digit numeric-only string determining the confirmation code
       * at applicable convenience stores.
       */
      confirmation_number?: string | null;

      /**
       * The number of calendar days (between 1 and 60) after which Konbini payment
       * instructions will expire. For example, if a PaymentIntent is confirmed with
       * Konbini and `expires_after_days` set to 2 on Monday JST, the instructions will
       * expire on Wednesday 23:59:59 JST.
       */
      expires_after_days?: number | null;

      /**
       * The timestamp at which the Konbini payment instructions will expire. Only one of
       * `expires_after_days` or `expires_at` may be set.
       */
      expires_at?: number | null;

      /**
       * A product descriptor of up to 22 characters, which will appear to customers at
       * the convenience store.
       */
      product_description?: string | null;

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsKrCard {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentIntentPaymentMethodOptionsLink {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none' | 'off_session';
    }

    export interface PaymentMethodOptionsMBWay {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentIntentPaymentMethodOptionsMobilepay {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentMethodOptionsMultibanco {
      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
       * the PaymentIntent is confirmed and the customer completes any required actions.
       * If you don't provide a Customer, you can still
       * [attach](/api/payment_methods/attach) the payment method to a Customer after the
       * transaction completes.
       *
       * If the payment method is `card_present` and isn't a digital wallet, Stripe
       * creates and attaches a
       * [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card)
       * payment method representing the card to the Customer instead.
       *
       * When processing card payments, Stripe uses `setup_future_usage` to help you
       * comply with regional legislation and network rules, such as
       * [SCA](/strong-customer-authentication).
       */
      setup_future_usage?: 'none';
    }

    export interface PaymentFlowsPrivatePaymentMethodsNaverPayPaymentMethodOptions {
      /**
       * Controls when the funds will be captured from the customer's account.
       */
      capture_method?: 'manual';

      /**
       * Indicates that you intend to make future payments with this PaymentIntent's
       * payment method.
       *
       * If you provide a Customer with the PaymentIntent, you can use this parameter to
       * [attach the payment method](/payments/save-during-payment) to the Customer after
[...]
