// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as DisputesAPI from './disputes';
import * as PaymentIntentsAPI from './payment-intents';
import * as Shared from './shared';
import { APIPromise } from '../core/api-promise';
import { buildHeaders } from '../internal/headers';
import { RequestOptions } from '../internal/request-options';

export class Refunds extends APIResource {
  /**
   * <p>When you create a new refund, you must specify a Charge or a PaymentIntent object on which to create it.</p>
   *
   * <p>Creating a new refund will refund a charge that has previously been created but not yet refunded.
   * Funds will be refunded to the credit or debit card that was originally charged.</p>
   *
   * <p>You can optionally refund only part of a charge.
   * You can do so multiple times, until the entire charge has been refunded.</p>
   *
   * <p>Once entirely refunded, a charge can’t be refunded again.
   * This method will raise an error when called on an already-refunded charge,
   * or when trying to refund more money than is left on a charge.</p>
   */
  create(body: RefundCreateParams | null | undefined = {}, options?: RequestOptions): APIPromise<Refund> {
    return this._client.post('/v1/refunds', {
      body,
      ...options,
      headers: buildHeaders([{ 'Content-Type': 'application/x-www-form-urlencoded' }, options?.headers]),
    });
  }
}

/**
 * Refund objects allow you to refund a previously created charge that isn't
 * refunded yet. Funds are refunded to the credit or debit card that's initially
 * charged.
 *
 * Related guide: [Refunds](https://docs.stripe.com/refunds)
 */
export interface Refund {
  /**
   * Unique identifier for the object.
   */
  id: string;

  /**
   * Amount, in cents (or local equivalent).
   */
  amount: number;

  /**
   * Time at which the object was created. Measured in seconds since the Unix epoch.
   */
  created: number;

  /**
   * Three-letter
   * [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in
   * lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
   */
  currency: string;

  /**
   * String representing the object's type. Objects of the same type share the same
   * value.
   */
  object: 'refund';

  /**
   * Balance transaction that describes the impact on your account balance.
   */
  balance_transaction?: string | DisputesAPI.BalanceTransaction | null;

  /**
   * ID of the charge that's refunded.
   */
  charge?: string | DisputesAPI.Charge | null;

  /**
   * An arbitrary string attached to the object. You can use this for displaying to
   * users (available on non-card refunds only).
   */
  description?: string;

  destination_details?: Refund.DestinationDetails;

  /**
   * After the refund fails, this balance transaction describes the adjustment made
   * on your account balance that reverses the initial balance transaction.
   */
  failure_balance_transaction?: string | DisputesAPI.BalanceTransaction;

  /**
   * Provides the reason for the refund failure. Possible values are:
   * `lost_or_stolen_card`, `expired_or_canceled_card`,
   * `charge_for_pending_refund_disputed`, `insufficient_funds`, `declined`,
   * `merchant_request`, or `unknown`.
   */
  failure_reason?: string;

  /**
   * For payment methods without native refund support (for example, Konbini,
   * PromptPay), provide an email address for the customer to receive refund
   * instructions.
   */
  instructions_email?: string;

  /**
   * Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can
   * attach to an object. This can be useful for storing additional information about
   * the object in a structured format.
   */
  metadata?: { [key: string]: string } | null;

  next_action?: Refund.NextAction;

  /**
   * ID of the PaymentIntent that's refunded.
   */
  payment_intent?: string | PaymentIntentsAPI.PaymentIntent | null;

  /**
   * Provides the reason for why the refund is pending. Possible values are:
   * `processing`, `insufficient_funds`, or `charge_pending`.
   */
  pending_reason?: 'charge_pending' | 'insufficient_funds' | 'processing';

  presentment_details?: Shared.PaymentFlowsPaymentIntentPresentmentDetails;

  /**
   * Reason for the refund, which is either user-provided (`duplicate`, `fraudulent`,
   * or `requested_by_customer`) or generated by Stripe internally
   * (`expired_uncaptured_charge`).
   */
  reason?: 'duplicate' | 'expired_uncaptured_charge' | 'fraudulent' | 'requested_by_customer' | null;

  /**
   * This is the transaction number that appears on email receipts sent for this
   * refund.
   */
  receipt_number?: string | null;

  /**
   * The transfer reversal that's associated with the refund. Only present if the
   * charge came from another Stripe account.
   */
  source_transfer_reversal?: string | TransferReversal | null;

  /**
   * Status of the refund. This can be `pending`, `requires_action`, `succeeded`,
   * `failed`, or `canceled`. Learn more about
   * [failed refunds](https://docs.stripe.com/refunds#failed-refunds).
   */
  status?: string | null;

  /**
   * This refers to the transfer reversal object if the accompanying transfer
   * reverses. This is only applicable if the charge was created using the
   * destination parameter.
   */
  transfer_reversal?: string | TransferReversal | null;
}

export namespace Refund {
  export interface DestinationDetails {
    /**
     * The type of transaction-specific details of the payment method used in the
     * refund (e.g., `card`). An additional hash is included on `destination_details`
     * with a name matching this value. It contains information specific to the refund
     * transaction.
     */
    type: string;

    affirm?: DestinationDetails.Affirm;

    afterpay_clearpay?: DestinationDetails.AfterpayClearpay;

    alipay?: DestinationDetails.Alipay;

    alma?: DestinationDetails.Alma;

    amazon_pay?: DestinationDetails.AmazonPay;

    au_bank_transfer?: DestinationDetails.AuBankTransfer;

    blik?: DestinationDetails.Blik;

    br_bank_transfer?: DestinationDetails.BrBankTransfer;

    card?: DestinationDetails.Card;

    cashapp?: DestinationDetails.Cashapp;

    crypto?: DestinationDetails.Crypto;

    customer_cash_balance?: DestinationDetails.CustomerCashBalance;

    eps?: DestinationDetails.Eps;

    eu_bank_transfer?: DestinationDetails.EuBankTransfer;

    gb_bank_transfer?: DestinationDetails.GBBankTransfer;

    giropay?: DestinationDetails.Giropay;

    grabpay?: DestinationDetails.Grabpay;

    jp_bank_transfer?: DestinationDetails.JpBankTransfer;

    klarna?: DestinationDetails.Klarna;

    mb_way?: DestinationDetails.MBWay;

    multibanco?: DestinationDetails.Multibanco;

    mx_bank_transfer?: DestinationDetails.MxBankTransfer;

    nz_bank_transfer?: DestinationDetails.NzBankTransfer;

    p24?: DestinationDetails.P24;

    paynow?: DestinationDetails.Paynow;

    paypal?: DestinationDetails.Paypal;

    pix?: DestinationDetails.Pix;

    revolut?: DestinationDetails.Revolut;

    sofort?: DestinationDetails.Sofort;

    swish?: DestinationDetails.Swish;

    th_bank_transfer?: DestinationDetails.ThBankTransfer;

    twint?: DestinationDetails.Twint;

    us_bank_transfer?: DestinationDetails.UsBankTransfer;

    wechat_pay?: DestinationDetails.WechatPay;

    zip?: DestinationDetails.Zip;
  }

  export namespace DestinationDetails {
    export interface Affirm {}

    export interface AfterpayClearpay {}

    export interface Alipay {}

    export interface Alma {}

    export interface AmazonPay {}

    export interface AuBankTransfer {}

    export interface Blik {
      /**
       * For refunds declined by the network, a decline code provided by the network
       * which indicates the reason the refund failed.
       */
      network_decline_code?: string | null;

      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface BrBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface Card {
      /**
       * The type of refund. This can be `refund`, `reversal`, or `pending`.
       */
      type: 'pending' | 'refund' | 'reversal';

      /**
       * Value of the reference number assigned to the refund.
       */
      reference?: string;

      /**
       * Status of the reference number on the refund. This can be `pending`, `available`
       * or `unavailable`.
       */
      reference_status?: string;

      /**
       * Type of the reference number assigned to the refund.
       */
      reference_type?: string;
    }

    export interface Cashapp {}

    export interface Crypto {
      /**
       * The transaction hash of the refund.
       */
      reference?: string | null;
    }

    export interface CustomerCashBalance {}

    export interface Eps {}

    export interface EuBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface GBBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface Giropay {}

    export interface Grabpay {}

    export interface JpBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface Klarna {}

    export interface MBWay {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface Multibanco {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface MxBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface NzBankTransfer {}

    export interface P24 {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface Paynow {}

    export interface Paypal {
      /**
       * For refunds declined by the network, a decline code provided by the network
       * which indicates the reason the refund failed.
       */
      network_decline_code?: string | null;
    }

    export interface Pix {}

    export interface Revolut {}

    export interface Sofort {}

    export interface Swish {
      /**
       * For refunds declined by the network, a decline code provided by the network
       * which indicates the reason the refund failed.
       */
      network_decline_code?: string | null;

      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface ThBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface Twint {}

    export interface UsBankTransfer {
      /**
       * The reference assigned to the refund.
       */
      reference?: string | null;

      /**
       * Status of the reference on the refund. This can be `pending`, `available` or
       * `unavailable`.
       */
      reference_status?: string | null;
    }

    export interface WechatPay {}

    export interface Zip {}
  }

  export interface NextAction {
    /**
     * Type of the next action to perform.
     */
    type: string;

    display_details?: NextAction.DisplayDetails;
  }

  export namespace NextAction {
    export interface DisplayDetails {
      email_sent: DisplayDetails.EmailSent;

      /**
       * The expiry timestamp.
       */
      expires_at: number;
    }

    export namespace DisplayDetails {
      export interface EmailSent {
        /**
         * The timestamp when the email was sent.
         */
        email_sent_at: number;

        /**
         * The recipient's email address.
         */
        email_sent_to: string;
      }
    }
  }
}

/**
 * [Stripe Connect](https://docs.stripe.com/connect) platforms can reverse
 * transfers made to a connected account, either entirely or partially, and can
 * also specify whether to refund any related application fees. Transfer reversals
 * add to the platform's balance and subtract from the destination account's
 * balance.
 *
 * Reversing a transfer that was made for a
 * [destination charge](/docs/connect/destination-charges) is allowed only up to
 * the amount of the charge. It is possible to reverse a
 * [transfer_group](https://docs.stripe.com/connect/separate-charges-and-transfers#transfer-options)
 * transfer only if the destination account has enough balance to cover the
 * reversal.
 *
 * Related guide:
 * [Reverse transfers](https://docs.stripe.com/connect/separate-charges-and-transfers#reverse-transfers)
 */
export interface TransferReversal {
  /**
   * Unique identifier for the object.
   */
  id: string;

  /**
   * Amount, in cents (or local equivalent).
   */
  amount: number;

  /**
   * Time at which the object was created. Measured in seconds since the Unix epoch.
   */
  created: number;

  /**
   * Three-letter
   * [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in
   * lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
   */
  currency: string;

  /**
   * String representing the object's type. Objects of the same type share the same
   * value.
   */
  object: 'transfer_reversal';

  /**
   * ID of the transfer that was reversed.
   */
  transfer: string | DisputesAPI.Transfer;

  /**
   * Balance transaction that describes the impact on your account balance.
   */
  balance_transaction?: string | DisputesAPI.BalanceTransaction | null;

  /**
   * Linked payment refund for the transfer reversal.
   */
  destination_payment_refund?: string | Refund | null;

  /**
   * Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can
   * attach to an object. This can be useful for storing additional information about
   * the object in a structured format.
   */
  metadata?: { [key: string]: string } | null;

  /**
   * ID of the refund responsible for the transfer reversal.
   */
  source_refund?: string | Refund | null;
}

export interface RefundCreateParams {
  amount?: number;

  /**
   * The identifier of the charge to refund.
   */
  charge?: string;

  /**
   * Three-letter
   * [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in
   * lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
   */
  currency?: string;

  /**
   * Customer whose customer balance to refund from.
   */
  customer?: string;

  /**
   * Specifies which fields in the response should be expanded.
   */
  expand?: Array<string>;

  /**
   * For payment methods without native refund support (e.g., Konbini, PromptPay),
   * use this email from the customer to receive refund instructions.
   */
  instructions_email?: string;

  /**
   * Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can
   * attach to an object. This can be useful for storing additional information about
   * the object in a structured format. Individual keys can be unset by posting an
   * empty value to them. All keys can be unset by posting an empty value to
   * `metadata`.
   */
  metadata?: { [key: string]: string } | '';

  /**
   * Origin of the refund
   */
  origin?: 'customer_balance';

  /**
   * The identifier of the PaymentIntent to refund.
   */
  payment_intent?: string;

  /**
   * String indicating the reason for the refund. If set, possible values are
   * `duplicate`, `fraudulent`, and `requested_by_customer`. If you believe the
   * charge to be fraudulent, specifying `fraudulent` as the reason will add the
   * associated card and email to your
   * [block lists](https://docs.stripe.com/radar/lists), and will also help us
   * improve our fraud detection algorithms.
   */
  reason?: 'duplicate' | 'fraudulent' | 'requested_by_customer';

  /**
   * Boolean indicating whether the application fee should be refunded when refunding
   * this charge. If a full charge refund is given, the full application fee will be
   * refunded. Otherwise, the application fee will be refunded in an amount
   * proportional to the amount of the charge refunded. An application fee can be
   * refunded only by the application that created the charge.
   */
  refund_application_fee?: boolean;

  /**
   * Boolean indicating whether the transfer should be reversed when refunding this
   * charge. The transfer will be reversed proportionally to the amount being
   * refunded (either the entire or partial amount).
   *
   * A transfer can be reversed only by the application that created the charge.
   */
  reverse_transfer?: boolean;
}

export declare namespace Refunds {
  export {
    type Refund as Refund,
    type TransferReversal as TransferReversal,
    type RefundCreateParams as RefundCreateParams,
  };
}
